body {
  font-family: Arial, Helvetica, sans-serif;
 background-image: url("https://cdn1.imggmi.com/uploads/2019/9/23/d675a8073d9b5a015065804b46b59a69-full.png");

 background-size: 100% 300px;
 background-repeat: no-repeat;
 overflow-x: hidden;
}

.navbar {
padding-left: 31%;
background-image: transparent;
  overflow: hidden;
    margin-right: 14%;

}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}



.navbar .right{
    float:right;
    padding-right: 45%;
}

.navbar .right #Out {
    display: none;
}

.navbar .Link {
  float: right;
  font-size: 16px;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;

}

.dropdown {
  float: right;
  overflow: hidden;
  

}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.navbar a:hover {
  background-color: white;
  color: #1673e6;
  border-radius: 10px;

}
 .dropdown:hover .dropbtn {
  background-color: white;
  color: #1673e6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.dropdown-content {
  float: right;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: all;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px;
  border-bottom-right-radius:0px ;
  border-bottom-left-radius: 10px;
  padding-top: 6px;
  padding-bottom: 2.6px;

}

.dropdown-content a {
  float: none;
  color: #1673e6;
  padding: 11px 22.4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #e0e8ff;

}

.dropdown .dropdown-content #top {
  border-top-right-radius: 10px;

}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown-content .MLB {
    display: none;
}

.dropdown-content a:hover  table {
      display: block;
      color: grey;
}

.dropdown-content .MLB:hover {
      color: #1673e6;
}
.dropdown-content a table{
  margin-left: 55px;
  top:-7px;
  position: absolute;
  background-color: #f9f9f9;
  display: none;
  padding-top:10px; 
}

#second{
  margin-left:210px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}


.dropdown-content a table td{
  width: 10%;
}
.dropdown-content a table a{
color: grey;
}

.dropdown-content a table table{
  margin-left: 800px;
}


input[type=text] {
  width: 5px;
  height: 50px;
  box-sizing: border-box;

  font-size: 17px;
  background-color: white;
  background-image: url('https://cdn1.imggmi.com/uploads/2019/9/23/a536f883220a8a8545780dd422c33849-full.png');
  background-position: 12px 12px; 
  background-repeat: no-repeat;
  background-size: 26px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-radius: 10px;
  border: none;
  width: 60%;
  padding-left: 55px;
  font-weight: ;
  font-family:Trebuchet MS;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}

.search-container{
  position: absolute;
  margin-left:  -10%;
  top :1%;
  vertical-align: middle;
  width: 600px;
  padding-right: -10px;
  transform: scale(.9);
}

input[type=text] {
  background-color: rgba(0,0,0,.5);

}

input[type=text]:focus {
  transition: .4s;
  outline: none;

}

input[type=text]:focus,input[type=text]:hover  {
   background-image: url('https://cdn1.imggmi.com/uploads/2019/9/17/fee81e2d5ab3213d647a91a5dd937185-full.png');
   background-color: white;
   opacity: 1;
  transition: .4s;
}
.Location{

  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-location-128.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 44% -4px;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
  position: absolute;
  width: 99%;
  height: 34px;
  top:56%;
  overflow: auto;

}

.Location a{
  color: #696969;
  margin-left:45%;
}

  .slider-holder
        {
          position: absolute;
            width: 890px;
            height: 400px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            overflow: hidden;
            left: 27.5%;
            top:57%;



        }
       
        .image-holder
        {
            width: 1700px;
            background-color: white;
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;



        }
       .Concert
        {
            background-size: 200px 120px;
            background-position: 0 0;
            float: left;
            margin: 10px;
            padding: 0px;
            position: relative;
            border-radius: 10px;
            width: 200px;
            height: 120px;
        }

                .Concert a{
          text-decoration: none;
          color: red;
          float: left;
          margin-left: 8px;
          margin-top: 94px;
          font-weight: bold;
          color: white;     
          font-family:Trebuchet MS;
          -moz-user-select: none;
           -webkit-user-select: none;
            -ms-user-select:none; 
            user-select:none;
            -o-user-select:none;
             }
        .Concert:hover{
            transform: scale(1.1);
            transition: transform  0.4s;
        }
        .slider-image
        {
            float: left;
            margin: 10px;
            padding: 0px;
            position: relative;
            border-radius: 10px;
            width: 200px;
            height: 120px;
            transition: transform  0.4s;
        }
        .slider-image:hover{
            transform: scale(1.1);
            transition: transform  0.4s;
        }

       
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
       
        #slider-image-2:target ~ .image-holder
        {
            left: -880px;
        }
       
        #slider-image-3:target ~ .image-holder
        {
            left: -800px;
        }
       
        .button-holder
        {
            position: relative;
            
            top: -250px;
            left: -0.6%;
        }

        .button-holder button{
          width: 55px;
          height: 55px;
          border-radius:  100%;
          border-color: transparent;
          background-color: white;
          border: 1px solid #dbd9d9;


        }

        

        #button_1 {
          position: absolute;
          top:-110px;
          right:-5px;
          background-image: url("https://peoplepng.com/wp-content/uploads/2019/02/right-arrow-png-icon-2.png");
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: 50%;

        }

        #button_2 {
          position: absolute;
          top:-110px;
          left:5px;
          background-image: url("https://cdn1.imggmi.com/uploads/2019/9/23/e82eb54cc7016ee91a1dc83364f1edca-full.png");
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: 50%;
         
        }

        #button_1:hover{
          background-image: url("https://cdn1.imggmi.com/uploads/2019/9/22/36f9108ff268aa1c190ce2563ed9d53d-full.png");
        }

        #button_2:hover{
          background-image: url("https://cdn1.imggmi.com/uploads/2019/9/23/2a2e68f0e7f34039aa7f77582f988b14-full.png");
        }
        #button_2{
          position: absolute;
          display: block;
        }

       
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: #bdbdbd;

        }

        .slider-change:hover {

          background-color: #1673e6;
          border-color: transparent;
        }


        .button-holder button img:hover{
         background:url("https://cdn1.imggmi.com/uploads/2019/9/22/36f9108ff268aa1c190ce2563ed9d53d-full.png"); 
        }


        .Title{
          margin-left:415px;
          margin-top: 175px; ;
        }

        .Title h1{
          color: white;
          transform: scale(1.5);
        }

        .table{

        }

        table tr td a{
          padding: 10px;
          background-color: green;
          border-radius: 35%;
          color: white;
          font-size: 13px;
          text-decoration: none;
          align-content: center;
        }

        table{
          padding-left:170px;
          font-size: 15px;
          padding-top: 10px;
        }

        table tr td a:hover{
          font-size: 23px;
          background-color: red;
        }

        .team-ab{
          background-color: green;
          width: auto;
          padding: 10px;
          width: 30px;
          border-radius: 30%;
          color: white;
        }
        .team-name{
          position: absolute;
          margin-left: 65px;
          top: 55.5%;

        }
        .team{
          padding: 10px;
          border-radius: 13px;

        }
        .team:hover{
          box-shadow: 19px 17px 56px -19px rgba(0,0,0,0.75);
          background-size: 120px;
          
          background-repeat: no-repeat;
          background-position: -7px;

        }
        #Bos:hover{
          background-image: url("https://cdn1.imggmi.com/uploads/2019/10/7/a1617bed665ba625fc5a4a885df2d6ae-full.png");
        }