body {
  font-family: "Lato", sans-serif;
  max-width: 100%;
    overflow-x: hidden;
}
.navbar{
  position: relative;
  background-color: #1673e6;
  width: all;
  height: 60px;
  padding: 0px;
  margin: -12px;

}
.navbar span{
  color: white;
  margin-left: 200px;
  padding-top: 15px;
  font-size: 15px;
}
.navbar input{
  padding:10px;
  border-radius: 10px;
  border-style: none;
  display: block;
  margin-top: -18px;
  float: right;
  margin-right: 150px;
  background-color: #1160c2;
}
.navbar input:focus{
  background-color: white;
}
.navbar button{
  float: right;
  margin-right: -300px;
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  margin-top: -19px;
  background-color: #1160c2;
  color: white;
  cursor: pointer;
  font-size: 17px;
}
.navbar button:hover{
  background-color: white;
  color: #1160c2;
}
.sidenav {
  margin-top: 50px;
  height: 100%;
  width: 33%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  overflow-y: scroll;
  box-shadow: -15px 4px 92px -28px rgba(0,0,0,0.75);
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #1673e6;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.tickets{
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
  border-width: thin;
  height:60px;
  margin-left: 17px;
  padding: 10px;
  transition: 1s;
  cursor: pointer;
}
.tickets span{
  margin-top: 12px;
}
.tickets button{
  background-color: #1673e6;
  border-style: none;
  padding: 10px;
  float: right;
  color:white;
  border-radius: 10px;
  margin-top: -19px;
  margin-right: 10px;
  font-weight:bold;
  font-size: 15px;
  cursor:pointer;


}
.tickets button:hover{
  background-color:#1762bf;
}
.tickets button:active {
  background-color: red;
}
.tickets:hover{

  background-color: #EEF5FF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tickets:active .ticketss{
  margin-left: -100px;
}
.stadium{
  margin-right: -150px;
  margin-top: 3%;
  float: right;
}
.ticketss{
  transition: 1s;
}
.header{
  width: all;
  height: 60px;
}
.header button{
  margin-left: 10px;
  padding: 10px;
  padding-left: 15px;
   padding-right: 15px;
   cursor: pointer;
   background-color: transparent;
   border-style: none;
   background-image: url("http://pixsector.com/cache/a8009c95/av8a49a4f81c3318dc69d.png");
   background-size: 30px;
   background-repeat: no-repeat;
   background-position: 0px 4px;
}
.header button span{
  margin-left: 50%;
  font-weight: bolder;
  font-size: 18px;
}
.header button:hover span{
  color: #1673e6;

}
.body{
  
}
.body img{
  width: 400px;
  height: 260px;
  margin-left: 17%;
  border-radius: 10px;
}


.tickets-info{
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
  border-width: thin;
  margin-left: 17px;
  padding: 10px;
  transition: 1s;

}
.tickets-info span{
  margin-top: 12px;
}
.tickets-info button{
  background-color: #1673e6;
  border-style: none;
  padding: 15px;
  float: right;
  color:white;
  border-radius: 10px;
  margin-top: -28px;
  margin-right: 10px;
  font-weight:bold;
  font-size: 15px;
  cursor:pointer;


}
.tickets-info button:hover{
  background-color:#1762bf;
}
