<!DOCTYPE html>
<html>
<head>
  <style>
  body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main-Ligas {
  margin-left: 200px; /* Same as the width of the sidenav */
}

.main-Teams {
  margin-left: -2000px; 
  display:none;/* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main-Ligas table{

  width:50%;
  height: 50%;
  margin-left: 0px;
  padding:10px 10px;

}
.main-Teams table{

  width:100%;
  height: 50%;
  margin-left: 0px;
  padding:10px 10px;


}
.main-Ligas table tr td{  
  padding:10px 10px;
  border-style: solid;
  border-color: #f5f5f5;
  border-width: thin;
  border-radius: 8px;
}
.main-Teams table tr .Team{  
  padding:20px 20px;
  border-style: none;
  border-color: #f5f5f5;
  border-width: thin;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  }
.main-Ligas table tr td:hover{
  background-color: #1673e6;

}
.main-Teams table tr .Team:hover{
  background-image: url('https://cdn1.imggmi.com/uploads/2019/10/7/a1617bed665ba625fc5a4a885df2d6ae-full.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: 0px;
  
  box-shadow: 19px 17px 56px -19px rgba(0,0,0,0.75);





}
.main-Ligas table tr td:hover  span{
  color: white;
}
.main-Ligas table tr td span{
  color: black;
}

.main-Ligas table tr td span{
  text-decoration: none;
 
}
.main-Ligas .ABM{
  margin-left: 14px;
}
.main-Ligas button{
  padding: 10px;
  border-radius: 10px;
  border-style: none;

  background-color: #1673e6;
  color:white;
  
  font-size: 15px;
  cursor:pointer;


}
.main-Ligas button:hover{
    background-color:#1762bf;
}
.main-Teams .ABM{
  margin-left: 14px;
}
.main-Teams button{
  padding: 10px;
  border-radius: 10px;
  border-style: none;

  background-color: #1673e6;
  color:white;
  
  font-size: 15px;
  cursor:pointer;


}
.new-Team button{
  padding: 10px;
  border-radius: 10px;
  border-style: none;

  background-color: #1673e6;
  color:white;
  
  font-size: 15px;
  cursor:pointer;


}
.new-Stadium button{
  padding: 10px;
  border-radius: 10px;
  border-style: none;

  background-color: #1673e6;
  color:white;
  
  font-size: 15px;
  cursor:pointer;


}
.main-Teams button:hover{
    background-color:#1762bf;
}
.new-Stadium button:hover{
    background-color:#1762bf;
}

.Liga{
  cursor: pointer;
}
.Team-abbreviation{
  background-color: green;
  padding: 10px;
  border-radius: 15px;
  color: white;
}
.Team-name {
  margin-left: 15px;
}

.new-Team{
  margin-left: 200px;
  padding: 10px;
  display: none;
}
.new-Team table tr td{
  padding: 10px;
  padding-right: 50px;
}
.new-Team table tr td span{
  color: #636363;
}
.new-Team input{
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
}

.edit-Team{
  margin-left: 200px;
  padding: 10px;
  display: none;
}
.edit-Team table tr td{
  padding: 10px;
  padding-right: 50px;
}
.edit-Team table tr td span{
  color: #636363;
}
.edit-Team input{
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
}
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border: thin solid grey;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;


}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block

}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.new-Stadium{
  margin-left: 200px;
  padding: 10px;
  display: none;
}
.new-Stadium table tr td{
  padding: 10px;
  padding-right: 50px;
}
.new-Stadium table tr td span{
  color: #636363;
}
.new-Stadium input{
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
}
.new-Stadium table tr td span a{
  text-decoration: none;
 border-style: solid;
 border-color: grey;
 border-radius: 8px;
 border-width: thin;
 padding: 10px;
  color: #636363; 
}

.Games{
  margin-top: 0px;
  border-color: red;

  width: 527px;
  border-radius: 10px;
  cursor:pointer;
}
.Games .left {
  height: 60px;
  width: 80px;
  border-color: blue;

  transform: scale(.8);
}
.Games .left p{
  margin-top:5px;
}

.Games .right{
  float: left;
  margin-left: 15%;
  margin-top: -81px;  
  border-color: green;

  transform: scale(.8);
  font-size: 18px;
}



.Games:hover{
  box-shadow: 5px 19px 40px 9px rgba(227,227,227,1);
  transition : 1s;
}
.Ticket{
  padding: 10px;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  border-radius: 10px;
  cursor: pointer;
}

.info-photo{
  border-radius: 8px;
  width: 300px;
  height: 200px;
}
  </style>

<link rel = "stylesheet"
   type = "text/css"
   href = "C:\Users\tobia\Desktop\SeatGeek-master\admin.css" />
   <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>

<div class="sidenav">
  <a href="http://localhost:8080/">Ligas</a>
  <a href="http://localhost:8080/admin/artistas">Artistas</a>
  <a href="http://localhost:8080/admin/estadios">Estadios</a>
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_evento.html">Eventos</a>
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_usuarios.html">Usuarios</a>
</div>


<div class="main-Ligas" id="main-artists">
  
</div>

<div class="new-Team" id="new-artist"><table>
  <tr>
  <td>
  <div class="Container">
  <span style="display: block;">
  Nombre:
  </span>
  <input type="text" id="inp_Nombre" name="Nombre">
  </div>
  </td>
  </tr>
  <tr>
  <td  width="600px">
  <div class="Container">
  <span style="display: block;">
  Descripcion:
  </span>
  <span  style="color: black">
    <input type="text" id="inp_Descripcion" name="Descripcion">
  </span>
  </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="Container">
  <span style="display: block;">
  Pais:
  </span>     
  <select id="inp_Pais" name="country" class="form-control">
              <option value="Afghanistan">Afghanistan</option>
              <option value="Åland Islands">Åland Islands</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cote D'ivoire">Cote D'ivoire</option>
              <option value="Croatia">Croatia</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guernsey">Guernsey</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-bissau">Guinea-bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
              <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Isle of Man">Isle of Man</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jersey">Jersey</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
              <option value="Korea, Republic of">Korea, Republic of</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macao">Macao</option>
              <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
              <option value="Moldova, Republic of">Moldova, Republic of</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montenegro">Montenegro</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russian Federation">Russian Federation</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Helena">Saint Helena</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint Lucia">Saint Lucia</option>
              <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
              <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Serbia">Serbia</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra Leone">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
              <option value="Spain">Spain</option>
              <option value="Sri Lanka">Sri Lanka</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syrian Arab Republic">Syrian Arab Republic</option>
              <option value="Taiwan, Province of China">Taiwan, Province of China</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
              <option value="Thailand">Thailand</option>
              <option value="Timor-leste">Timor-leste</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Viet Nam">Viet Nam</option>
              <option value="Virgin Islands, British">Virgin Islands, British</option>
              <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
              <option value="Wallis and Futuna">Wallis and Futuna</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
  </select>
  </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="Container">
  <span style="display: block;">
  Foto(Url):
  </span>
  <input type="text" id="inp_Foto" name="Foto">
  </div>
  </td>
  </tr>
</table><div><button onclick="NewArtista()">Agregar</button></div></div>
<div class="edit-Team" id="edit-artist">
  <table>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Nombre
        </span>
        <input type="text" name="Nombre" value="Boston Celtics">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Historia
        </span>
        <input  type="text" name="Historia" value="No tiene">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Foto (Url)
        </span>
        <input  type="text" name="Escudo" value="Url">
      </div>
    </td>
  </tr></table></div>
<div class="new-Team" id="info-artist">
  </div>
</div>
  <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>

<script type="text/javascript">

const firebaseConfig = {
    apiKey: "AIzaSyAxZ4pVevrj9SRxp3EWlfYieKvA7V6ch68",
    authDomain: "superliga-179605.firebaseapp.com",
    databaseURL: "https://superliga-179605.firebaseio.com",
    projectId: "superliga-179605",
    storageBucket: "",
    messagingSenderId: "952837515941",
    appId: "1:952837515941:web:13eabd2f5950d32a"
    };

    firebase.initializeApp(firebaseConfig);

    
    var db = firebase.firestore();

    firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;
                    
                }
                else {
                    
            }
            });

db.collection("Artista").get().then(function(querySnapshot) {
var str = '<table>';
querySnapshot.forEach(function(doc) {
    // doc.data() is never undefined for query doc snapshots
    console.log(doc.id, " => ", doc.data().Nombre);
    var my_name = doc.data().Nombre;
    str += `<tr>
    <td>
    <div class="Liga" id="Artista" onclick="Artista('${my_name}')">
    <span>
    ${my_name}
    </span>
    </div>
    </td>

    </tr>`
    
});
str += '</table> <div class="ABM"><button onclick="Agregar()">Agregar</button></div>';
console.log(str)
document.getElementById("main-artists").innerHTML = str;
});

var ArtistaEnUso="";

Artista=(Art)=>{
  ArtistaEnUso=Art;
  db.collection("Artista").get().then(function(querySnapshot) {
var str = '<table>';
querySnapshot.forEach(function(doc) {
  if (doc.data().Nombre == Art ) {
    // doc.data() is never undefined for query doc snapshots
    console.log(doc.id, " => ", doc.data().Nombre);
    var my_name = doc.data().Nombre;
    str += `
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Nombre:
    </span>
    <span style="color: black">
    ${doc.data().Nombre}
    </span>
    </div>
    </td>
    </tr>
    <tr>
    <td  width="600px">
    <div class="Container">
    <span style="display: block;">
    Descripcion:
    </span>
    <span  style="color: black">
    ${doc.data().Descripcion}
    </span>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Pais:
    </span>
    <span style="color: black">
    ${doc.data().Pais}
    </span>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Foto:
    </span>
    <span style="color: black">
    <img class="info-photo" src="${doc.data().Foto}" alt="${doc.data().Nombre} foto">
    </span>
    </div>
    </td>
    </tr>
  </table><div><button onclick="Volver()">Volver</button><button onclick="Modificar('${doc.data().Nombre}')">Modificar</button><button onclick="DelArtista('${doc.data().Nombre}')">Eliminar</button></div>`


  }
    
    
});

console.log(str)
document.getElementById("info-artist").innerHTML = str;
document.getElementById("info-artist").style.display="block";
document.getElementById("main-artists").style.display="none";

});
}

NewArtista=()=>{
var inp_Nombre = document.getElementById("inp_Nombre").value;
var inp_Descripcion = document.getElementById("inp_Descripcion").value;
var inp_Pais = document.getElementById("inp_Pais").value;
var inp_Foto = document.getElementById("inp_Foto").value;

db.collection("Artista").add({
    Nombre: inp_Nombre,
    Descripcion :inp_Descripcion,
    Pais:inp_Pais,
    Foto:inp_Foto

})
.then(function(docRef) {
    console.log("Document written with ID: ", docRef.id);
    location.reload(true);
    
})
.catch(function(error) {
    console.error("Error adding document: ", error);
});

}

Modificar=(Art)=>{


  db.collection("Artista").get().then(function(querySnapshot) {
var str = '<table>';
querySnapshot.forEach(function(doc) {
    // doc.data() is never undefined for query doc snapshots
    console.log(doc.id, " => ", doc.data().Nombre);
    if (doc.data().Nombre == Art){
      str += `<table>
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Nombre:
    </span>
    <input type="text" id="mod_Nombre" name="Nombre" value="${doc.data().Nombre}">
    </div>
    </td>
    </tr>
    <tr>
    <td  width="600px">
    <div class="Container">
    <span style="display: block;">
    Descripcion:
    </span>
    <span  style="color: black">
    <input type="text" id="mod_Descripcion" name="Descripcion" value="${doc.data().Descripcion}">
    </span>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Pais:
    </span>     
    <select id="mod_Pais" name="country" class="form-control" value="${doc.data().Pais}">
    <option value="Afghanistan">Afghanistan</option>
    <option value="Åland Islands">Åland Islands</option>
    <option value="Albania">Albania</option>
    <option value="Algeria">Algeria</option>
    <option value="American Samoa">American Samoa</option>
    <option value="Andorra">Andorra</option>
    <option value="Angola">Angola</option>
    <option value="Anguilla">Anguilla</option>
    <option value="Antarctica">Antarctica</option>
    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
    <option value="Argentina">Argentina</option>
    <option value="Armenia">Armenia</option>
    <option value="Aruba">Aruba</option>
    <option value="Australia">Australia</option>
    <option value="Austria">Austria</option>
    <option value="Azerbaijan">Azerbaijan</option>
    <option value="Bahamas">Bahamas</option>
    <option value="Bahrain">Bahrain</option>
    <option value="Bangladesh">Bangladesh</option>
    <option value="Barbados">Barbados</option>
    <option value="Belarus">Belarus</option>
    <option value="Belgium">Belgium</option>
    <option value="Belize">Belize</option>
    <option value="Benin">Benin</option>
    <option value="Bermuda">Bermuda</option>
    <option value="Bhutan">Bhutan</option>
    <option value="Bolivia">Bolivia</option>
    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
    <option value="Botswana">Botswana</option>
    <option value="Bouvet Island">Bouvet Island</option>
    <option value="Brazil">Brazil</option>
    <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
    <option value="Brunei Darussalam">Brunei Darussalam</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Burkina Faso">Burkina Faso</option>
    <option value="Burundi">Burundi</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Cameroon">Cameroon</option>
    <option value="Canada">Canada</option>
    <option value="Cape Verde">Cape Verde</option>
    <option value="Cayman Islands">Cayman Islands</option>
    <option value="Central African Republic">Central African Republic</option>
    <option value="Chad">Chad</option>
    <option value="Chile">Chile</option>
    <option value="China">China</option>
    <option value="Christmas Island">Christmas Island</option>
    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
    <option value="Colombia">Colombia</option>
    <option value="Comoros">Comoros</option>
    <option value="Congo">Congo</option>
    <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
    <option value="Cook Islands">Cook Islands</option>
    <option value="Costa Rica">Costa Rica</option>
    <option value="Cote D'ivoire">Cote D'ivoire</option>
    <option value="Croatia">Croatia</option>
    <option value="Cuba">Cuba</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Czech Republic">Czech Republic</option>
    <option value="Denmark">Denmark</option>
    <option value="Djibouti">Djibouti</option>
    <option value="Dominica">Dominica</option>
    <option value="Dominican Republic">Dominican Republic</option>
    <option value="Ecuador">Ecuador</option>
    <option value="Egypt">Egypt</option>
    <option value="El Salvador">El Salvador</option>
    <option value="Equatorial Guinea">Equatorial Guinea</option>
    <option value="Eritrea">Eritrea</option>
    <option value="Estonia">Estonia</option>
    <option value="Ethiopia">Ethiopia</option>
    <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
    <option value="Faroe Islands">Faroe Islands</option>
    <option value="Fiji">Fiji</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="French Guiana">French Guiana</option>
    <option value="French Polynesia">French Polynesia</option>
    <option value="French Southern Territories">French Southern Territories</option>
    <option value="Gabon">Gabon</option>
    <option value="Gambia">Gambia</option>
    <option value="Georgia">Georgia</option>
    <option value="Germany">Germany</option>
    <option value="Ghana">Ghana</option>
    <option value="Gibraltar">Gibraltar</option>
    <option value="Greece">Greece</option>
    <option value="Greenland">Greenland</option>
    <option value="Grenada">Grenada</option>
    <option value="Guadeloupe">Guadeloupe</option>
    <option value="Guam">Guam</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Guernsey">Guernsey</option>
    <option value="Guinea">Guinea</option>
    <option value="Guinea-bissau">Guinea-bissau</option>
    <option value="Guyana">Guyana</option>
    <option value="Haiti">Haiti</option>
    <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
    <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
    <option value="Honduras">Honduras</option>
    <option value="Hong Kong">Hong Kong</option>
    <option value="Hungary">Hungary</option>
    <option value="Iceland">Iceland</option>
    <option value="India">India</option>
    <option value="Indonesia">Indonesia</option>
    <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
    <option value="Iraq">Iraq</option>
    <option value="Ireland">Ireland</option>
    <option value="Isle of Man">Isle of Man</option>
    <option value="Israel">Israel</option>
    <option value="Italy">Italy</option>
    <option value="Jamaica">Jamaica</option>
    <option value="Japan">Japan</option>
    <option value="Jersey">Jersey</option>
    <option value="Jordan">Jordan</option>
    <option value="Kazakhstan">Kazakhstan</option>
    <option value="Kenya">Kenya</option>
    <option value="Kiribati">Kiribati</option>
    <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
    <option value="Korea, Republic of">Korea, Republic of</option>
    <option value="Kuwait">Kuwait</option>
    <option value="Kyrgyzstan">Kyrgyzstan</option>
    <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
    <option value="Latvia">Latvia</option>
    <option value="Lebanon">Lebanon</option>
    <option value="Lesotho">Lesotho</option>
    <option value="Liberia">Liberia</option>
    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
    <option value="Liechtenstein">Liechtenstein</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Luxembourg">Luxembourg</option>
    <option value="Macao">Macao</option>
    <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
    <option value="Madagascar">Madagascar</option>
    <option value="Malawi">Malawi</option>
    <option value="Malaysia">Malaysia</option>
    <option value="Maldives">Maldives</option>
    <option value="Mali">Mali</option>
    <option value="Malta">Malta</option>
    <option value="Marshall Islands">Marshall Islands</option>
    <option value="Martinique">Martinique</option>
    <option value="Mauritania">Mauritania</option>
    <option value="Mauritius">Mauritius</option>
    <option value="Mayotte">Mayotte</option>
    <option value="Mexico">Mexico</option>
    <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
    <option value="Moldova, Republic of">Moldova, Republic of</option>
    <option value="Monaco">Monaco</option>
    <option value="Mongolia">Mongolia</option>
    <option value="Montenegro">Montenegro</option>
    <option value="Montserrat">Montserrat</option>
    <option value="Morocco">Morocco</option>
    <option value="Mozambique">Mozambique</option>
    <option value="Myanmar">Myanmar</option>
    <option value="Namibia">Namibia</option>
    <option value="Nauru">Nauru</option>
    <option value="Nepal">Nepal</option>
    <option value="Netherlands">Netherlands</option>
    <option value="Netherlands Antilles">Netherlands Antilles</option>
    <option value="New Caledonia">New Caledonia</option>
    <option value="New Zealand">New Zealand</option>
    <option value="Nicaragua">Nicaragua</option>
    <option value="Niger">Niger</option>
    <option value="Nigeria">Nigeria</option>
    <option value="Niue">Niue</option>
    <option value="Norfolk Island">Norfolk Island</option>
    <option value="Northern Mariana Islands">Northern Mariana Islands</option>
    <option value="Norway">Norway</option>
    <option value="Oman">Oman</option>
    <option value="Pakistan">Pakistan</option>
    <option value="Palau">Palau</option>
    <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
    <option value="Panama">Panama</option>
    <option value="Papua New Guinea">Papua New Guinea</option>
    <option value="Paraguay">Paraguay</option>
    <option value="Peru">Peru</option>
    <option value="Philippines">Philippines</option>
    <option value="Pitcairn">Pitcairn</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Puerto Rico">Puerto Rico</option>
    <option value="Qatar">Qatar</option>
    <option value="Reunion">Reunion</option>
    <option value="Romania">Romania</option>
    <option value="Russian Federation">Russian Federation</option>
    <option value="Rwanda">Rwanda</option>
    <option value="Saint Helena">Saint Helena</option>
    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
    <option value="Saint Lucia">Saint Lucia</option>
    <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
    <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
    <option value="Samoa">Samoa</option>
    <option value="San Marino">San Marino</option>
    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
    <option value="Saudi Arabia">Saudi Arabia</option>
    <option value="Senegal">Senegal</option>
    <option value="Serbia">Serbia</option>
    <option value="Seychelles">Seychelles</option>
    <option value="Sierra Leone">Sierra Leone</option>
    <option value="Singapore">Singapore</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="Solomon Islands">Solomon Islands</option>
    <option value="Somalia">Somalia</option>
    <option value="South Africa">South Africa</option>
    <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
    <option value="Spain">Spain</option>
    <option value="Sri Lanka">Sri Lanka</option>
    <option value="Sudan">Sudan</option>
    <option value="Suriname">Suriname</option>
    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
    <option value="Swaziland">Swaziland</option>
    <option value="Sweden">Sweden</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
    <option value="Taiwan, Province of China">Taiwan, Province of China</option>
    <option value="Tajikistan">Tajikistan</option>
    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
    <option value="Thailand">Thailand</option>
    <option value="Timor-leste">Timor-leste</option>
    <option value="Togo">Togo</option>
    <option value="Tokelau">Tokelau</option>
    <option value="Tonga">Tonga</option>
    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
    <option value="Tunisia">Tunisia</option>
    <option value="Turkey">Turkey</option>
    <option value="Turkmenistan">Turkmenistan</option>
    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
    <option value="Tuvalu">Tuvalu</option>
    <option value="Uganda">Uganda</option>
    <option value="Ukraine">Ukraine</option>
    <option value="United Arab Emirates">United Arab Emirates</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="United States">United States</option>
    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
    <option value="Uruguay">Uruguay</option>
    <option value="Uzbekistan">Uzbekistan</option>
    <option value="Vanuatu">Vanuatu</option>
    <option value="Venezuela">Venezuela</option>
    <option value="Viet Nam">Viet Nam</option>
    <option value="Virgin Islands, British">Virgin Islands, British</option>
    <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
    <option value="Wallis and Futuna">Wallis and Futuna</option>
    <option value="Western Sahara">Western Sahara</option>
    <option value="Yemen">Yemen</option>
    <option value="Zambia">Zambia</option>
    <option value="Zimbabwe">Zimbabwe</option>
    </select>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Foto(Url):
    </span>
    <input type="text" id="mod_Foto" name="Foto" value="${doc.data().Foto}" style="display: block;">
    <img class="info-photo" src="${doc.data().Foto}" alt="${doc.data().Nombre} foto">
    </div>
    </td>
    </tr>
    `
    str += '</table><div><button onclick="UpdArtista()">Modificar</button></div>';
console.log(str)
document.getElementById("edit-artist").innerHTML = str;
document.getElementById("edit-artist").style.display="block";
document.getElementById("info-artist").style.display="none";
    }
    
    
});


});


}


UpdArtista=()=>{
  db.collection("Artista").get().then(function(querySnapshot) {
    
    querySnapshot.forEach(function(doc) {
      if (doc.data().Nombre == ArtistaEnUso ){
        doc.ref.update({
                  Nombre: document.getElementById("mod_Nombre").value,
                  Descripcion: document.getElementById("mod_Descripcion").value,
                  Pais: document.getElementById("mod_Pais").value,
                  Foto: document.getElementById("mod_Foto").value
                  
          })
          
          .then(function(docRef) {
            Artista(document.getElementById("mod_Nombre").value)
            document.getElementById("edit-artist").style.display="none";
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
          
        
      }
      
  });

  });
}

DelArtista=(Art)=>{
  db.collection("Artista").get().then(function(querySnapshot) {
    
    querySnapshot.forEach(function(doc) {
      if (doc.data().Nombre == Art ){
        doc.ref.delete()
          
          .then(function(docRef) {
            location.reload(true);
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
          
        
      }
      
  });

  });
}

function Agregar(){
document.getElementById("new-artist").style.display="block";
document.getElementById("main-artists").style.display="none";
}



function Volver(){
  location.reload(true);
}







//-----------------------------------------------------------------------------
  document.getElementById("Agregar").addEventListener ("click", Agregar, true);
  document.getElementById("Modificar").addEventListener ("click", Modificar, true);
  var x = document.getElementsByClassName("Liga");
  for (var i = 0; i < x.length; i++) {
    x[i].addEventListener ("click", Liga, true);}

    function Agregar(){
  document.getElementById("main-artists").style.display = "none";
  document.getElementById("new-artist").style.display = "block";}

  function Modificar(){
  document.getElementById("main-artists").style.display = "none";
  document.getElementById("edit-artist").style.display = "block";}



  function elim(){
 var x = document.getElementsByClassName("Team");for (var i = 0; i < x.length; i++) {
    x[i].addEventListener ("click", teamss, true);
} 
}

function teamss(){
  document.getElementById("main-Teams").style.display = "none";
}
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            document.getElementById("myUL").style.display = "none";
        } else {
            li[i].style.display = "none";
            document.getElementById("myUL").style.display = "block";
        }
    }
}
function select_stadium(x){
  x.style.backgroundColor  ="#1673e6";
  x.style.color  ="white";
}
function Liga(){
  document.getElementById("main-artists").style.display = "none";
  document.getElementById("info-artist").style.display = "block";
}


</script>
</body>
</html>

