<!DOCTYPE html>
<html>
<head>
    <style>
      .buttonAgregar{
        margin-top: 100px;
      }
#myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
        body {
        font-family: "Lato", sans-serif;
        overflow-x: hidden;
        overflow-y: hidden;
      }
      
      .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .main-Ligas {
        margin-left: 200px; /* Same as the width of the sidenav */
      }
      
      .main-Teams {
        margin-left: -2000px; 
        display:none;/* Same as the width of the sidenav */
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      
      .main-Ligas table{
      
        width:50%;
        height: 50%;
        margin-left: 0px;
        padding:10px 10px;
      
      }
      .main-Teams table{
      
        width:100%;
        height: 50%;
        margin-left: 0px;
        padding:10px 10px;
      
      
      }
      .main-Ligas table tr td{  
        padding:10px 10px;
        border-style: solid;
        border-color: #f5f5f5;
        border-width: thin;
        border-radius: 8px;
      }
      .main-Teams table tr .Team{  
        padding:20px 20px;
        border-style: none;
        border-color: #f5f5f5;
        border-width: thin;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.5s;
        }
      .main-Ligas table tr td:hover{
        background-color: #1673e6;
      
      }
      .main-Teams table tr .Team:hover{
        background-image: url('https://cdn1.imggmi.com/uploads/2019/10/7/a1617bed665ba625fc5a4a885df2d6ae-full.png');
        background-size: 120px;
        background-repeat: no-repeat;
        background-position: 0px;
        
        box-shadow: 19px 17px 56px -19px rgba(0,0,0,0.75);
      
      
      
      
      
      }
      .main-Ligas table tr td:hover  span{
        color: white;
      }
      .main-Ligas table tr td span{
        color: black;
      }
      
      .main-Ligas table tr td span{
        text-decoration: none;
       
      }
      .main-Ligas .ABM{
        margin-left: 14px;
      }
      .main-Ligas button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .main-Ligas button:hover{
          background-color:#1762bf;
      }
      .main-Teams .ABM{
        margin-left: 14px;
      }
      .main-Teams button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .new-Team button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .new-Stadium button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .main-Teams button:hover{
          background-color:#1762bf;
      }
      .new-Stadium button:hover{
          background-color:#1762bf;
      }
      
      .Liga{
        cursor: pointer;
      }
      .Team-abbreviation{
        background-color: green;
        padding: 10px;
        border-radius: 15px;
        color: white;
      }
      .Team-name {
        margin-left: 15px;
      }
      
      .new-Team{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .new-Team table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .new-Team table tr td span{
        color: #636363;
      }
      .new-Team input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      
      .edit-Team{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .edit-Team table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .edit-Team table tr td span{
        color: #636363;
      }
      .edit-Team input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: thin solid grey;
        margin-bottom: 12px;
      }
      
      #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
      
      
      }
      
      #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
      
      }
      
      #myUL li a:hover:not(.header) {
        background-color: #eee;
      }
      
      .new-Stadium{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .new-Stadium table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .new-Stadium table tr td span{
        color: #636363;
      }
      .new-Stadium input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      .new-Stadium table tr td span a{
        text-decoration: none;
       border-style: solid;
       border-color: grey;
       border-radius: 8px;
       border-width: thin;
       padding: 10px;
        color: #636363; 
      }
      
      .Games{
        margin-top: 0px;
        border-color: red;
      
        width: 527px;
        border-radius: 10px;
        cursor:pointer;
      }
      .Games .left {
        height: 60px;
        width: 80px;
        border-color: blue;
      
        transform: scale(.8);
      }
      .Games .left p{
        margin-top:5px;
      }
      
      .Games .right{
        float: left;
        margin-left: 15%;
        margin-top: -81px;  
        border-color: green;
      
        transform: scale(.8);
        font-size: 18px;
      }
      
      
      
      .Games:hover{
        box-shadow: 5px 19px 40px 9px rgba(227,227,227,1);
        transition : 1s;
      }
      .Ticket{
        padding: 10px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
        border-radius: 10px;
        cursor: pointer;
      }
        </style>
<link rel = "stylesheet"
   type = "text/css"
   href = "C:\Users\tobia\Desktop\SeatGeek-master\admin.css" />
   <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>

<div class="sidenav">
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin.html">Ligas</a>
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_artists.html">Artistas</a>
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_stadiums.html">Estadios</a>
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_evento.html">Eventos</a>
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_usuarios.html">Usuarios</a>
</div>



<div class="new-Stadium" id="Eventos" style="display: block;">
  </div>

<div class="new-Stadium" id="new-Partido" style="display: none;">
  </div>
<div class="new-Stadium" id="info-Partido" >
  

</div>

<div class="new-Stadium" id="new-Ticket">
  <table>
    <div id="Partido">
    <tr>
    <td>
    <span style="display: block;">Nombre</span>
    <input type="text" name=""id="inp__Ticket_Nombre" >
    </td>
    </tr>
    <tr>
    <td>
    <span style="display: block;">Cantidad</span>
    <input type="numbre" name="" id="inp__Ticket_Cantidad">
    </td>
    </tr>
    <tr>
    <td>
    <span style="display: block;">Precio</span>
    <input type="" name=""id="inp__Ticket_Precio" >
    </td>
    </tr>
    </table><div class="ABM"><button onclick="AgregarTicket()">Agregar</button></div>
</div>
<div class="new-Stadium" id="info-Ticket" >
</div>
<div class="new-Stadium" id="mod-Ticket" >
</div>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
<script type="text/javascript">




const firebaseConfig = {
    apiKey: "AIzaSyAxZ4pVevrj9SRxp3EWlfYieKvA7V6ch68",
    authDomain: "superliga-179605.firebaseapp.com",
    databaseURL: "https://superliga-179605.firebaseio.com",
    projectId: "superliga-179605",
    storageBucket: "",
    messagingSenderId: "952837515941",
    appId: "1:952837515941:web:13eabd2f5950d32a"
    };

    firebase.initializeApp(firebaseConfig);

    
    var db = firebase.firestore();

    firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;
                    
                }
                else {
                    
            }
            });




            function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}

            /*




var strL=`<table>
  <tr>
          <td>
          <div class="Container">
          <span style="display: block;">Tipo de Evento</span>
          <select>`;
  


var str=`<select>`;
  var c=0;
    db.collection("Liga").get().then(function(querySnapshot) {
  

  querySnapshot.forEach(function(Lig) {
    console.log(c)
      console.log(Lig.id, " => ", Lig.data().Nombre);
      var my_name = Lig.data().Nombre;
          strL += `
          <option>${Lig.data().Nombre}</option>`

          Lig.ref.collection("Equipos").get().then(function(querySnapshot) {
            

              
          querySnapshot.forEach(function(eq) {
            if (c==0){
          console.log(eq.id, " => ", eq.data().Nombre);
          console.log(`<option>${eq.data().Nombre}</option>`)
          str += `<option>${eq.data().Nombre}</option>`
          c++
            }
          })
            

            

          }).then(function(docRef) {
    
    strL += '</select>';
    str+=`
    </select>
    </div>
    </td>
    </tr>`;
    console.log(str)
    strL+=str
    document.getElementById("Eventos").innerHTML = strL;
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });

  
      
  })
  
  })
  
*/

//-----
var strEq ="";

  db.collection("Liga").orderBy("Nombre", "asc").get().then(function(querySnapshot) {
      str=`<table>
      <tr>
      <td>
      <div class="Container">
      <span style="display: block;">Tipo de Evento</span>
      <select autofocus="autofocus" onfocus="SelectEquipos(this)" onchange="SelectEquipos(this)">`; 
        var c= 0;
      strE =`<select>`;
  var c= 0;
querySnapshot.forEach(function(Lig) {

    console.log(Lig.id, " => ", Lig.data().Nombre);
    str += `<option value="${Lig.id}">${Lig.data().Nombre}</option>`


    
})//end forEach

}).then(function(docRef) {
    str += '</select><div id="select_equipos"></div>';
    document.getElementById("Eventos").innerHTML = str;
    //---   
    })//end then
    .catch(function(error) {
      console.error("Error reading the document: ", error);
    });//end catch




SelectEquipos=(a)=>{
  console.log(a.value)
  db.collection("Liga").orderBy("Nombre", "asc").get().then(function(querySnapshot) {
    var str = '<select id="s_Equipo" autofocus="autofocus" onfocus="Eventos(this)" onchange="Eventos(this)">';
    querySnapshot.forEach(function(Liga) {
        if (Liga.id == a.value){
          Liga.ref.collection("Equipos").get().then(function(querySnapshot) {
            querySnapshot.forEach(function(Equi) {
              str+=`<option value="${Equi.id}">${Equi.data().Nombre}</option>`

            });
            str += `</select></tr><div id="eventoss"></div></table>
            <div class="ABM">
            <button id="Agregar"onclick="Agregar()">Agregar</button>
            </div>`;
            console.log(str)
            document.getElementById("select_equipos").innerHTML = str

            });
            
        }
        
        
    });
    
});
}

Eventos=(a)=>{
  var str = '';
  db.collection("Evento").orderBy("Fecha", "asc").get().then(function(querySnapshot) {
    
    querySnapshot.forEach(function(Evento) {
        if (Evento.data().Local == a.value){

          db.collection("Liga").get().then(function(querySnapshot) {

          querySnapshot.forEach(function(Liga) {
            Liga.ref.collection("Equipos").get().then(function(querySnapshot) {

            querySnapshot.forEach(function(Equipo) {
              if (Equipo.id == a.value){
                str+=`<tr>
                <td style="padding: 0px;">
                <div class="Games"   onclick="InfoEvento('${Evento.id}')"> 
                <div  class="left"><p><b id="date">${Evento.data().Fecha}</b></p><p>${Evento.data().Hora}</p></div> 
                <div class="right"><p><b id="game">  ${Equipo.data().Nombre} vs ${Evento.data().Visitante}</b></p><p style="color: grey;">${Evento.data().Estadio}</p> </div>   
                </div>
                </td>
                </tr>`
              }
            });
            }).then(function(docRef) {
            console.log(str)
            document.getElementById("eventoss").innerHTML = str
    //---   
    })//end then
    .catch(function(error) {
      console.error("Error reading the document: ", error);
    });//end catch
          });
          })
          
            
        }
        
        
    });
            
    
})


}

var EventoEnUso;

InfoEvento=(a)=>{

  

    
  


  var str1 = '<table>';
  db.collection("Evento").orderBy("FH", "asc").get().then(function(querySnapshot) {
    var c=0;
    querySnapshot.forEach(function(Evento) {
        if (Evento.id == a){
          EventoEnUso = Evento;
            db.collection("Liga").get().then(function(querySnapshot) {

            querySnapshot.forEach(function(Liga) {
            Liga.ref.collection("Equipos").get().then(function(querySnapshot) {

            querySnapshot.forEach(function(Equipo) {
              if (Equipo.id == Evento.data().Local){
              if (c==0){
              str1 += `<tr>
              <td>
              <div class="Container">
              <span style="display: block;">Participantes</span>
              <span style="color: black">${Equipo.data().Nombre} vs ${Evento.data().Visitante}</span>
              </div>
              </td>
              </tr>
              <tr>
              <td>
              <div class="Container">
              <span style="display: block;">Fecha y Hora</span>
              <span style="color: black">${Evento.data().Fecha} <b>·</b> ${Evento.data().Hora}hs</span>
              </div>
              </td>
              </tr>
              <tr>
              <td>
              <div class="Container">
              <span style="display: block;">Tickets</span>
              </div>
              </td>
              </tr>`
              c++;
              }
              ;


              Evento.ref.collection("Tickets").orderBy("Precio", "asc").get().then(function(querySnapshot) {

              querySnapshot.forEach(function(Ticket) {

              str1+=`<tr>
              <td>
              <div class="Ticket" onclick="TicketInfo('${Ticket.id}')" id="${Ticket.id}">
              <div>
              <span style="color: green;font-weight: bolder;">$${Ticket.data().Precio}</span>
              <span>${Ticket.data().Nombre}</span>
              <span style="display: block;">Disponibles: ${Ticket.data().Disponibilidad}</span>
              </div>
              </td>

              </tr>`




              });


              }).then(function(docRef) {
              str1+='</table><button onclick="FormAT()">Agregar</button><button onclick="EliminarEvento()">Modificar</button><button onclick="EliminarTicket()">Eliminar</button>'
              document.getElementById("Eventos").style.display = "none";
              document.getElementById("info-Partido").innerHTML = str1;
              document.getElementById("info-Partido").style.display = "block";
              OB()

              //---   
              })//end then
              .catch(function(error) {
              console.error("Error reading the document: ", error);
              });//end catch
            }
            });
            })
            });
            })

          }


      });
            
    
}).then(function(docRef) {
  console.log(str)
  
    //---   
    })//end then
    .catch(function(error) {
      console.error("Error reading the document: ", error);
    });//end catch

}



OB=(a)=>{

  EventoEnUso.ref.collection("Tickets").get().then(function(querySnapshot) {
  var str = '<table>';
  querySnapshot.forEach(function(Ticket) {
    EventoEnUso.ref.collection("Tickets").where("Nombre", "==", Ticket.data().Nombre).onSnapshot(function(snapshot) {
        snapshot.docChanges().forEach(function(change) {
            if (change.type === "added") {
                console.log("New city: ", change.doc.data());
            }
            if (change.type === "modified") {
              if(document.getElementById("info-Partido").style.display == "block"){
                var u = `<span style="color: green;font-weight: bolder;">$${change.doc.data().Precio}</span>
                <span>${change.doc.data().Nombre}</span>
                <span style="display: block;">Disponibles: ${change.doc.data().Disponibilidad}</span>`
                console.log(change.doc.id)
                document.getElementById(change.doc.id).innerHTML = u;

                console.log("Modified city: ", change.doc.data());
              }
              if (document.getElementById("info-Ticket").style.display=="block"){
                TicketEnUso=change.doc
               var  str1 = `<table><tr>
                <td>
                <div class="Container">
                <span style="display: block;">Nombre</span>
                <span style="color: black">${change.doc.data().Nombre}</span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">Cantidad</span>
                <span style="color: black">${change.doc.data().Cantidad}</span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">Disponibles</span>
                <span style="color: black">${change.doc.data().Disponibilidad}</span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">Precio</span>
                <span style="color: green;font-weight: bolder;">$${change.doc.data().Precio}</span>
                </div>
                </td>
                </tr>
                </table>
                <button onclick="EliminarTicket()">
                Eliminar
                </button>`
                document.getElementById("info-Ticket").innerHTML = str1;

              }
              
            }
            if (change.type === "removed") {
                console.log("Removed city: ", change.doc.data());
            }
        });
    });
    // doc.data() is never undefined for query doc snapshots
    
  });
  });


  
    
}

  var TicketEnUso;

TicketInfo=(T)=>{

  var unsubscribe = EventoEnUso.ref.collection("Tickets").where("Nombre", "==", "Popular")
    .onSnapshot(function (){
      unsubscribe();
    });

// Later ...

// Stop listening to changes

  var str1='<table>'
    console.log("antes db")
    db.collection("Evento").get().then(function(querySnapshot) {
      querySnapshot.forEach(function(Evento) {
        console.log("hola1")
        Evento.ref.collection("Tickets").orderBy("Nombre", "asc").get().then(function(querySnapshot) {
          querySnapshot.forEach(function(Ticket) {
            console.log("hola2")
            if(Ticket.id == T){
              TicketEnUso =Ticket;
              console.log("hola3")
              str1 += `<tr>
              <td>
              <div class="Container">
              <span style="display: block;">Nombre</span>
              <span style="color: black">${Ticket.data().Nombre}</span>
              </div>
              </td>
              </tr>
              <tr>
              <td>
              <div class="Container">
              <span style="display: block;">Cantidad</span>
              <span style="color: black">${Ticket.data().Cantidad}</span>
              </div>
              </td>
              </tr>
              <tr>
              <td>
              <div class="Container">
              <span style="display: block;">Disponibles</span>
              <span style="color: black">${Ticket.data().Disponibilidad}</span>
              </div>
              </td>
              </tr>
              <tr>
              <td>
              <div class="Container">
              <span style="display: block;">Precio</span>
              <span style="color: green;font-weight: bolder;">$${Ticket.data().Precio}</span>
              </div>
              </td>
              </tr>`
              str1 += `</table>
                <button onclick="EliminarTicket()">
                Eliminar
                </button>`
        ;
        console.log(str1)
        document.getElementById("info-Ticket").innerHTML = str1;
        document.getElementById("info-Ticket").style.display="block"
        document.getElementById("info-Partido").style.display="none"
              

            }






        })//end forEach

        })
        .then(function(docRef) {
        
        //---   
        })//end then
        .catch(function(error) {
        console.error("Error reading the document: ", error);
        });//end catch
        



      })//end forEach

    })
    .then(function(docRef) {

    //---   
    })//end then
    .catch(function(error) {
      console.error("Error reading the document: ", error);
    });//end catch



}



EliminarTicket=()=>{
  EventoEnUso.ref.delete()
          
          .then(function(docRef) {
            location.reload(true);
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
}

EliminarEvento=()=>{
  TicketEnUso.ref.delete()
          
          .then(function(docRef) {
            location.reload(true);
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
}



FormularioModificarTicket=()=>{


str+=`<table>
<div id="Partido">
<tr>
<td>
<span style="display: block;">Nombre</span>
<input type="text" name=""id="mod_Ticket_Nombre" value="${TicketEnUso.data().Nombre}">
</td>
</tr>
<tr>
<td>
<span style="display: block;">Cantidad</span>
<input type="numbre" name="" id="mod_Ticket_Cantidad"value="${TicketEnUso.data().Cantidad}">
</td>
</tr>
<tr>
<td>
<span style="display: block;">Disponibles</span>
<input type="" name=""id="mod_Ticket_Disponibles" value="${TicketEnUso.data().Disponibilidad}">
</td>
</tr>
<tr>
<td>
<span style="display: block;">Precio</span>
<input type="" name=""id="mod_Ticket_Precio" value="${TicketEnUso.data().Precio}">
</td>
</tr>
</table><div class="ABM"><button onclick="Formulario()">Modificar</button></div>`;
console.log(str)
document.getElementById("mod-Ticket").innerHTML = str;
document.getElementById("mod-Ticket").style.display="block"
document.getElementById("info-Ticket").style.display="none"
document.getElementById("Eventos").style.display="none"





}

Modificar=()=>{
var Nombre= document.getElementById("mod_Ticket_Nombre").value
var Cantidad= document.getElementById("mod_Ticket_Cantidad").value
var Disponibles= document.getElementById("mod_Ticket_Disponibles").value
var Precio= document.getElementById("mod_Ticket_Precio").value
TicketEnUso.ref.update({

          Nombre: document.getElementById("mod_Ticket_Nombre").value,
          Cantidad: document.getElementById("mod_Ticket_Cantidad").value,
          Disponibles: document.getElementById("mod_Ticket_Disponibles").value,
          Precio: document.getElementById("mod_Ticket_Precio").value
          
  })
  
  .then(function(docRef) {
    InfoEstadio(document.getElementById("mod_Nombre").value)
    document.getElementById("edit-stadium").style.display="none";
      
  })
  .catch(function(error) {
      console.error("Error adding document: ", error);
  });
}


AgregarTicket=()=>{
  EventoEnUso.ref.collection("Tickets").add({
          Nombre: document.getElementById("inp__Ticket_Nombre").value ,
          Cantidad :document.getElementById("inp__Ticket_Cantidad").value ,
          Disponibilidad:document.getElementById("inp__Ticket_Cantidad").value ,
          Precio:document.getElementById("inp__Ticket_Precio").value 

          })
          .then(function(docRef) {
          InfoEvento(EventoEnUso.id)
          document.getElementById("new-Ticket").style.display = "none";

          })
          .catch(function(error) {
          console.error("Error adding document: ", error);
          });
}


LeerEstadios=()=>{
var A=`<table>
    <div id="Partido">
    <tr>
      <td>
        <span style="display: block;">Visitante</span>
        <input id="inp_Evento_Visitante" type="" name="">
      </td>
    </tr>
    <tr>
      <td>
        <span style="display: block;">Fecha y Hora</span>
        <input id="inp_Evento_Fecha" type="date" name="date" id="dateinput" >
        <input id="inp_Evento_Hora" type="time" name="date" id="dateinput" >
      </td>
    </tr>
    </div>
  </table>
      <div id="myDropdown" class="dropdown-content">
      
<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">`;
  db.collection("Estadio").get().then(function(querySnapshot) {
    querySnapshot.forEach(function(Estadio) {   
      A+=`
        <a onclick="SelectEstadio('${Estadio.id}')">${Estadio.data().Nombre}</a>`
    })

  })
    .then(function(docRef) {
      A+=`</div><div class="buttonAgregar"><button style="padding-top:70px;" onclick="newEvento()">Agregar</button></div>
    `
      document.getElementById("new-Partido").innerHTML=A

    })
    .catch(function(error) {
      console.error("Error adding document: ", error);
    });



  }


newEvento=()=>{
    db.collection("Estadio").get().then(function(querySnapshot) {
      querySnapshot.forEach(function(Estadio) {

        if (Estadio.id == EstadioSeleccionado){

            db.collection("Liga").get().then(function(querySnapshot) {
            querySnapshot.forEach(function(Liga) {

              Liga.ref.collection("Equipos").get().then(function(querySnapshot) {
              querySnapshot.forEach(function(Equipo) {

              if (Equipo.id == document.getElementById("s_Equipo").value){

                  db.collection("Evento").add({
                  Local:Equipo.id,
                  Visitante :document.getElementById("inp_Evento_Visitante").value ,
                  Fecha:document.getElementById("inp_Evento_Fecha").value ,
                  Hora:document.getElementById("inp_Evento_Hora").value ,
                  Estadio:Estadio.id,
                  

                  })
                  .then(function(docRef) {
                  console.log("Document written with ID: ", docRef.id);
                  location.reload(true);

                  })
                  .catch(function(error) {
                  console.error("Error adding document: ", error);
                  });

              }


              })
              })
              .then(function(docRef) {
              })
              .catch(function(error) {
              console.error("Error adding document: ", error);
              });


            })
            })
            .then(function(docRef) {
            })
            .catch(function(error) {
            console.error("Error adding document: ", error);
            });
        }


      })
    })
      .then(function(docRef) {
      })
      .catch(function(error) {
        console.error("Error adding document: ", error);
      });
  }



//-------------------------------------------------------------------


var EstadioSeleccionado;

function SelectEstadio(Est){
  EstadioSeleccionado = Est;
}

function FormAT(){
  document.getElementById("info-Partido").style.display = "none";
  document.getElementById("new-Ticket").style.display = "block";
}

  function Partido(){
    document.getElementById("Eventos").style.display = "none";
    document.getElementById("info-Partido").style.display = "block";
  }
  function sel_liga(){
    document.getElementById("Equipo").style.display = "";
  }


function Agregar(){
  document.getElementById("Eventos").style.display = "none";
  document.getElementById("new-Partido").style.display = "block";
  LeerEstadios()
}
function Modificar(){
  document.getElementById("main-Teams").style.display = "none";
  document.getElementById("edit-Team").style.display = "block";
}
function Liga(){
  document.getElementById("main-Ligas").style.transition = "0.7s";
  document.getElementById("main-Ligas").style.marginLeft = "-2000px";
  document.getElementById("main-Teams").style.transition = "1s";
  document.getElementById("main-Teams").style.display = "block";
  document.getElementById("main-Teams").style.marginLeft = "200px";
  document.getElementById("main-Ligas").style.display = "none";
}

function elim(){
 var x = document.getElementsByClassName("Team");
for (var i = 0; i < x.length; i++) {
    x[i].addEventListener ("click", teamss, true);
} 
}

function teamss(){
  document.getElementById("main-Teams").style.display = "none";
}
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            document.getElementById("myUL").style.display = "none";
        } else {
            li[i].style.display = "none";
            document.getElementById("myUL").style.display = "block";
        }
    }
}
function select_stadium(x){
  x.style.backgroundColor  ="#1673e6";
  x.style.color  ="white";
}
function Team(){
  document.getElementById("main-Teams").style.display = "none";
  document.getElementById("info-Team").style.display = "block";
}
function Volver(){
  document.getElementById("main-Teams").style.display = "block";
  document.getElementById("info-Team").style.display = "none";

}
function Estadios(){

}
</script>
</body>
</html>

