<!DOCTYPE html>
<html>
<head>
    <style>
        body {
        font-family: "Lato", sans-serif;
        overflow-x: hidden;
        overflow-y: hidden;
      }
      
      .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .main-Ligas {
        margin-left: 200px; /* Same as the width of the sidenav */
      }
      
      .main-Teams {
        margin-left: -2000px; 
        display:none;/* Same as the width of the sidenav */
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      
      .main-Ligas table{
      
        width:50%;
        height: 50%;
        margin-left: 0px;
        padding:10px 10px;
      
      }
      .main-Teams table{
      
        width:100%;
        height: 50%;
        margin-left: 0px;
        padding:10px 10px;
      
      
      }
      .main-Ligas table tr td{  
        padding:10px 10px;
        border-style: solid;
        border-color: #f5f5f5;
        border-width: thin;
        border-radius: 8px;
      }
      .main-Teams table tr .Team{  
        padding:20px 20px;
        border-style: none;
        border-color: #f5f5f5;
        border-width: thin;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.5s;
        }
      .main-Ligas table tr td:hover{
        background-color: #1673e6;
      
      }
      .main-Teams table tr .Team:hover{
        background-image: url('https://cdn1.imggmi.com/uploads/2019/10/7/a1617bed665ba625fc5a4a885df2d6ae-full.png');
        background-size: 120px;
        background-repeat: no-repeat;
        background-position: 0px;
        
        box-shadow: 19px 17px 56px -19px rgba(0,0,0,0.75);
      
      
      
      
      
      }
      .main-Ligas table tr td:hover  span{
        color: white;
      }
      .main-Ligas table tr td span{
        color: black;
      }
      
      .main-Ligas table tr td span{
        text-decoration: none;
       
      }
      .main-Ligas .ABM{
        margin-left: 14px;
      }
      .main-Ligas button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .main-Ligas button:hover{
          background-color:#1762bf;
      }
      .main-Teams .ABM{
        margin-left: 14px;
      }
      .main-Teams button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .new-Team button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .new-Stadium button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .main-Teams button:hover{
          background-color:#1762bf;
      }
      .new-Stadium button:hover{
          background-color:#1762bf;
      }
      
      .Liga{
        cursor: pointer;
      }
      .Team-abbreviation{
        background-color: green;
        padding: 10px;
        border-radius: 15px;
        color: white;
      }
      .Team-name {
        margin-left: 15px;
      }
      
      .new-Team{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .new-Team table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .new-Team table tr td span{
        color: #636363;
      }
      .new-Team input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      
      .edit-Team{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .edit-Team table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .edit-Team table tr td span{
        color: #636363;
      }
      .edit-Team input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: thin solid grey;
        margin-bottom: 12px;
      }
      
      #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
      
      
      }
      
      #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
      
      }
      
      #myUL li a:hover:not(.header) {
        background-color: #eee;
      }
      
      .new-Stadium{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .new-Stadium table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .new-Stadium table tr td span{
        color: #636363;
      }
      .new-Stadium input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      .new-Stadium table tr td span a{
        text-decoration: none;
       border-style: solid;
       border-color: grey;
       border-radius: 8px;
       border-width: thin;
       padding: 10px;
        color: #636363; 
      }
      
      .Games{
        margin-top: 0px;
        border-color: red;
      
        width: 527px;
        border-radius: 10px;
        cursor:pointer;
      }
      .Games .left {
        height: 60px;
        width: 80px;
        border-color: blue;
      
        transform: scale(.8);
      }
      .Games .left p{
        margin-top:5px;
      }
      
      .Games .right{
        float: left;
        margin-left: 15%;
        margin-top: -81px;  
        border-color: green;
      
        transform: scale(.8);
        font-size: 18px;
      }
      
      
      
      .Games:hover{
        box-shadow: 5px 19px 40px 9px rgba(227,227,227,1);
        transition : 1s;
      }
      .Ticket{
        padding: 10px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
        border-radius: 10px;
        cursor: pointer;
      }
        </style>
<link rel = "stylesheet"
   type = "text/css"
   href = "C:\Users\tobia\Desktop\SeatGeek-master\admin.css" />
   <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>

    <div class="sidenav">
        <a href="http://localhost:8080/">Ligas</a>
        <a href="http://localhost:8080/admin/estadios">Estadios</a>
        <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_evento.html">Eventos</a>
        <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_usuarios.html">Usuarios</a>
      </div>

<div class="main-Ligas" id="main-Estadios" style="width: 100%;">
  </div>
<div class="new-Stadium" id="new-stadium">
  </div>

  <div class="new-Stadium" id="edit-stadium">
  </div>
<div class="new-Team" id="info-stadium">
  </div>

  <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>

<script type="text/javascript">


const firebaseConfig = {
    apiKey: "AIzaSyAxZ4pVevrj9SRxp3EWlfYieKvA7V6ch68",
    authDomain: "superliga-179605.firebaseapp.com",
    databaseURL: "https://superliga-179605.firebaseio.com",
    projectId: "superliga-179605",
    storageBucket: "",
    messagingSenderId: "952837515941",
    appId: "1:952837515941:web:13eabd2f5950d32a"
    };

    firebase.initializeApp(firebaseConfig);

    
    var db = firebase.firestore();

    firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;
                    
                }
                else {
                    
            }
            });



var str = '<table><tr>';

db.collection("Estadio").get().then(function(querySnapshot) {
  
    var c= 0;
  querySnapshot.forEach(function(doc) {
      // doc.data() is never undefined for query doc snapshots
      console.log(doc.id, " => ", doc.data().Nombre);
      var my_name = doc.data().Nombre;
      str += `
    <td>
      <div class="Liga" id="Liga" onclick="InfoEstadio('${doc.id}')">
        <span>
          ${doc.data().Nombre}
        </span>
      </div>
    </td>
  `
  c++;
  if (c==2){
    str +='</tr><tr>'
      c=0;
  }
  
  
      
  })
  
  })
  .then(function(docRef) {
    str += '</tr><table><div class="ABM"><button onclick="Formulario()">Agregar</button></div>';
  console.log(str)
  document.getElementById("main-Estadios").innerHTML = str;
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });







Estadio=(Est)=>{
  

}

Formulario=()=>{


var str=`<table>
<tr>
<td>
<div class="Container">
<span style="display: block;">
Nombre
</span>
<input type="text" name="Nombre" id="inp_Nombre">
</div>
</td>
</tr>
<tr>
<td>
<div class="Container">
<span style="display: block;">
Historia
</span>
<input  type="text" name="Historia" id="inp_Historia">
</div>
</td>
</tr>
<tr>
<td>
<div class="Container">
<span style="display: block;">
Localidad
</span>
<input  type="text" name="Historia" id="inp_Localidad">
</div>
</td>
</tr>
<tr>
<td>
<div class="Container">
<span style="display: block;padding-bottom: 15px;">
Estadio
</span>
<span>
<a  id="Plantilla" onclick="Plantilla()" style="background-color: #1673e6;color: white;cursor: pointer;">Plantilla</a>
</span>
<span>
<a style="cursor: pointer;" onclick="Crear()" id="Crear">Crear</a>
</span>
</div>
</td>
</tr>
<tr>
<td>
<div class="Container">
<select id="mySelect" onchange="EstadioSSSS(this)">`
db.collection("Plantilla").get().then(function(querySnapshot) {
    
  querySnapshot.forEach(function(doc) {
      str += `<option>${doc.data().Nombre}</option>`
      
  });
    str+=`</select>
    </div>
    <div id="svg-box" style="display: none;">
    <input type="text" id="inp_svg" name="">
    </div>
    </td>
    </tr>
    <tr>`;
  })
          .then(function(docRef) {
            var c=0;
            str+=`<td><div id="estadios-plantillas" class="Container">`
            db.collection("Plantilla").get().then(function(querySnapshot) {
            querySnapshot.forEach(function(doc1) {
              if (c=0){
                str += `<div id="${doc1.data().Nombre}" style="transform: scale(0.5);margin-top: -220px;margin-left: -250px;">
                ${doc1.data().svg}
                </div>`
                c++;
              }
              else{
                str += `<div id="${doc1.data().Nombre}" style="transform: scale(0.5);margin-top: -220px;margin-left: -250px;display:none;">
                ${doc1.data().svg}
                </div>`
              }
            

            });
            str+=`></div>
            </div>
            </div>
            </td>
            </tr></table><button onclick="NewEstadio()">Agregar</button>`;
            console.log(str)
            document.getElementById("new-stadium").innerHTML = str;
            document.getElementById("main-Estadios").style.display = "none";
            document.getElementById("new-stadium").style.display = "block";
            });
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });






          

  
}

NewEstadio=()=>{
  var inp_Nombre = document.getElementById("inp_Nombre").value;
  var inp_Historia= document.getElementById("inp_Historia").value;
  var inp_Localidad= document.getElementById("inp_Localidad").value;

  if (Plantilla){
    var inp_svg= document.getElementById("mySelect").value;
    
    db.collection("Plantilla").get().then(function(querySnapshot) {
    
    querySnapshot.forEach(function(doc) {
      if (doc.data().Nombre == inp_svg ){
          db.collection("Estadio").add({
          Nombre: inp_Nombre,
          Historia :inp_Historia,
          Localidad:inp_Localidad,
          svg:doc.data().svg

          })
          .then(function(docRef) {
          console.log("Document written with ID: ", docRef.id);
          location.reload(true);

          })
          .catch(function(error) {
          console.error("Error adding document: ", error);
          });
          

          
        
      }
      
  });

  });

  }//end if


  else{
    var inp_svg= document.getElementById("inp_svg").value;
    db.collection("Estadio").add({
          Nombre: inp_Nombre,
          Historia :inp_Historia,
          Localidad:inp_Localidad,
          svg:inp_svg

          })
          .then(function(docRef) {
          console.log("Document written with ID: ", docRef.id);
          location.reload(true);

          })
          .catch(function(error) {
          console.error("Error adding document: ", error);
          });
  }//end else
  

}

var EstadioEnUso=""
InfoEstadio=(Est)=>{
    var str=`<table> `
      EstadioEnUso=Est

    
db.collection("Estadio").get().then(function(querySnapshot) {
  
  var c= 0;
querySnapshot.forEach(function(doc) {
    if (doc.id == Est){
      str += `
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Nombre:
    </span>
    <span style="display: block;color: black">
    ${doc.data().Nombre}
    </span>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Historia:
    </span>
    <span style="display: block;color: black">
      ${doc.data().Historia}
    </span>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Localidad:
    </span>
    <span style="display: block;color: black">
      ${doc.data().Localidad}
    </span>
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div class="Container">
    <span style="display: block;">
    Estadio:
    </span>
    </div>
    </td>
    </tr>
    </table>
    <div id="Cuadrada" style="transform: scale(0.5);margin-top: -220px;margin-left: -250px;">
    ${doc.data().svg}
    </div>`
    }
    // doc.data() is never undefined for query doc snapshots
    console.log(doc.id, " => ", doc.data().Nombre);
    var my_name = doc.data().Nombre;
    


    
})

})
.then(function(docRef) {
  str += '<button onclick="Volver()">Volver</button><button onclick="FormularioModificar()">Modificar</button><button onclick="DelEstadio()">Eliminar</button>';
console.log(str)
document.getElementById("info-stadium").innerHTML = str;
document.getElementById("main-Estadios").style.display = "none";
document.getElementById("info-stadium").style.display = "block";

            
        })
        .catch(function(error) {
            console.error("Error adding document: ", error);
        });

}


DelEstadio=()=>{
  db.collection("Evento").get().then(function(querySnapshot) {
  querySnapshot.forEach(function(Evento) {
    db.collection("Estadio").get().then(function(querySnapshot) {
    
    querySnapshot.forEach(function(Estadio) {
      

      if (doc.id == EstadioEnUso ){
        if (Evento.data().Estadio == Estadio.id){
          
          alert("Este estadio tiene eventos en los proximos dias")
        
      }
      else{
        doc.ref.delete()
          
          .then(function(docRef) {
            location.reload(true);
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
      }
        
          
        
      }
      
  });

  });
    
})

})
.then(function(docRef) {
  
            
        })
        .catch(function(error) {
            console.error("Error adding document: ", error);
        });



  

}

FormularioModificar=()=>{
  var str="";
  db.collection("Estadio").get().then(function(querySnapshot) {
    
    querySnapshot.forEach(function(doc) {
      if (doc.data().Nombre == EstadioEnUso ){
          str +=`<table>
          <tr>
          <td>
          <div class="Container">
          <span style="display: block;">
          Nombre
          </span>
          <input type="text" name="Nombre" id="mod_Nombre" value="${doc.data().Nombre}">
          </div>
          </td>
          </tr>
          <tr>
          <td>
          <div class="Container">
          <span style="display: block;">
          Historia
          </span>
          <input  type="text" name="Historia" id="mod_Historia"  value="${doc.data().Historia}">
          </div>
          </td>
          </tr>
          <tr>
          <td>
          <div class="Container">
          <span style="display: block;">
          Localidad
          </span>
          <input  type="text" name="Historia" id="mod_Localidad"  value="${doc.data().Localidad}">
          </div>
          </td>
          </tr>
          `
          
        
      }
      
  });
      
  }).then(function(docRef) {
    str+=`</table><button onclick="UpdEstadio()">Modificar</button>`;
      document.getElementById("edit-stadium").innerHTML = str;
      document.getElementById("info-stadium").style.display = "none";
      document.getElementById("edit-stadium").style.display = "block";

            
        })
        .catch(function(error) {
            console.error("Error adding document: ", error);
        });



}

UpdEstadio=()=>{
  db.collection("Estadio").get().then(function(querySnapshot) {
    
    querySnapshot.forEach(function(doc) {
      if (doc.id == EstadioEnUso ){
        doc.ref.update({
                  Nombre: document.getElementById("mod_Nombre").value,
                  Historia: document.getElementById("mod_Historia").value,
                  Localidad: document.getElementById("mod_Localidad").value
                  
          })
          
          .then(function(docRef) {
            InfoEstadio(document.getElementById("mod_Nombre").value)
            document.getElementById("edit-stadium").style.display="none";
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
          
        
      }
      
  });

  });
}

//--------------------------------------------------------------------

  function Agregar(){

      document.getElementById("main-Estadios").style.display = "none";
      document.getElementById("new-stadium").style.display = "block";
  }
  function EstadioSSSS(x){
      if (x.value== "Cilindro") {
        document.getElementById("Cuadrada").style.display = "none";
        document.getElementById("Cilindro").style.display = "block";
      }
      if (x.value== "Cuadrada") {
        document.getElementById("Cuadrada").style.display = "block";
        document.getElementById("Cilindro").style.display = "none";
      }
  }
  var Plantilla = true;
  function Plantilla(){
    Plantilla = true
    document.getElementById("Crear").style.backgroundColor = "white";
    document.getElementById("Crear").style.color = "grey";
    document.getElementById("Plantilla").style.backgroundColor = "#1673e6";
    document.getElementById("Plantilla").style.color = "white";
    document.getElementById("estadios-plantillas").style.display = "block";
    document.getElementById("mySelect").style.display = "block";
    document.getElementById("svg-box").style.display = "none";
  }
  function Crear(){
    Plantilla = false
    document.getElementById("Plantilla").style.backgroundColor  = "white";
    document.getElementById("Plantilla").style.color = "grey";
    document.getElementById("Crear").style.backgroundColor  = "#1673e6";
    document.getElementById("Crear").style.color = "white";
    document.getElementById("estadios-plantillas").style.display = "none";
    document.getElementById("mySelect").style.display = "none";
    document.getElementById("svg-box").style.display = "block";
    window.open("https://svg-edit.github.io/svgedit/releases/svg-edit-2.8.1/svg-editor.html")
  }
  function Volver(){
    location.reload(true);
  }
  function Info(){
    document.getElementById("main-Estadios").style.display = "none";
    document.getElementById("info-stadium").style.display = "block";
  }
</script>
</body>

</html>

