<!DOCTYPE html>
<html>
<head>
    <style>
        body {
        font-family: "Lato", sans-serif;
        overflow-x: hidden;
        overflow-y: hidden;
      }
      
      .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .main-Ligas {
        margin-left: 200px; /* Same as the width of the sidenav */
      }
      
      .main-Teams {
        margin-left: 200px; 
        display:none;/* Same as the width of the sidenav */
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      
      .main-Ligas table{
      
        width:50%;
        height: 50%;
        margin-left: 0px;
        padding:10px 10px;
      
      }
      .main-Teams table{
      
        width:100%;
        height: 50%;
        margin-left: 0px;
        padding:10px 10px;
      
      
      }
      .main-Ligas table tr td{  
        padding:10px 10px;
        border-style: solid;
        border-color: #f5f5f5;
        border-width: thin;
        border-radius: 8px;
      }
      .main-Teams table tr .Team{  
        padding:20px 20px;
        border-style: none;
        border-color: #f5f5f5;
        border-width: thin;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.5s;
        }
      .main-Ligas table tr td:hover{
        background-color: #1673e6;
      
      }
      .main-Teams table tr .Team:hover{
        background-image: url('https://cdn1.imggmi.com/uploads/2019/10/7/a1617bed665ba625fc5a4a885df2d6ae-full.png');
        background-size: 120px;
        background-repeat: no-repeat;
        background-position: 0px;
        
        box-shadow: 19px 17px 56px -19px rgba(0,0,0,0.75);
      
      
      
      
      
      }
      .main-Ligas table tr td:hover  span{
        color: white;
      }
      .main-Ligas table tr td span{
        color: black;
      }
      
      .main-Ligas table tr td span{
        text-decoration: none;
       
      }
      .main-Ligas .ABM{
        margin-left: 14px;
      }
      .main-Ligas button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .main-Ligas button:hover{
          background-color:#1762bf;
      }
      .main-Teams .ABM{
        margin-left: 14px;
      }
      .main-Teams button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .new-Team button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .new-Stadium button{
        padding: 10px;
        border-radius: 10px;
        border-style: none;
      
        background-color: #1673e6;
        color:white;
        
        font-size: 15px;
        cursor:pointer;
      
      
      }
      .main-Teams button:hover{
          background-color:#1762bf;
      }
      .new-Stadium button:hover{
          background-color:#1762bf;
      }
      
      .Liga{
        cursor: pointer;
      }
      .Team-abbreviation{
        background-color: green;
        padding: 10px;
        border-radius: 15px;
        color: white;
      }
      .Team-name {
        margin-left: 15px;
      }
      
      .new-Team{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .new-Team table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .new-Team table tr td span{
        color: #636363;
      }
      .new-Team input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      
      .edit-Team{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .edit-Team table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .edit-Team table tr td span{
        color: #636363;
      }
      .edit-Team input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border: thin solid grey;
        margin-bottom: 12px;
      }
      
      #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
      
      
      }
      
      #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
      
      }
      
      #myUL li a:hover:not(.header) {
        background-color: #eee;
      }
      
      .new-Stadium{
        margin-left: 200px;
        padding: 10px;
        display: none;
      }
      .new-Stadium table tr td{
        padding: 10px;
        padding-right: 50px;
      }
      .new-Stadium table tr td span{
        color: #636363;
      }
      .new-Stadium input{
        border-radius: 5px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
      }
      .new-Stadium table tr td span a{
        text-decoration: none;
       border-style: solid;
       border-color: grey;
       border-radius: 8px;
       border-width: thin;
       padding: 10px;
        color: #636363; 
      }
      
      .Games{
        margin-top: 0px;
        border-color: red;
      
        width: 527px;
        border-radius: 10px;
        cursor:pointer;
      }
      .Games .left {
        height: 60px;
        width: 80px;
        border-color: blue;
      
        transform: scale(.8);
      }
      .Games .left p{
        margin-top:5px;
      }
      
      .Games .right{
        float: left;
        margin-left: 15%;
        margin-top: -81px;  
        border-color: green;
      
        transform: scale(.8);
        font-size: 18px;
      }
      
      
      
      .Games:hover{
        box-shadow: 5px 19px 40px 9px rgba(227,227,227,1);
        transition : 1s;
      }
      .Ticket{
        padding: 10px;
        border-style: solid;
        border-color: grey;
        border-width: thin;
        border-radius: 10px;
        cursor: pointer;
      }
        </style>
<link rel = "stylesheet"
   type = "text/css"
   href = "C:\Users\tobia\Desktop\SeatGeek-master\admin.css" />
   <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>

<div class="sidenav">
  <a href="http://localhost:8080/">Ligas</a>
  <a href="http://localhost:8080/admin/estadios">Estadios</a>
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_evento.html">Eventos</a>
  <a href="C:\Users\tobia\Desktop\SeatGeek-master\admin_usuarios.html">Usuarios</a>
</div>


<div class="main-Ligas" id="main-Ligas">
</div>

<div class="main-Ligas" id="main-Ligas-mod">
</div>
<div class="main-Ligas" id="main-Ligas-elim">
</div>
<div class="main-Teams" id="main-Teams">
  
</div>
<div class="new-Team" id="new-Liga"><table>
    <tr>
      <td>
        <div class="Container">
          <span style="display: block;">
            Nombre
          </span>
          <input type="text" id="inp_Liga_Nombre" name="Nombre">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="Container">
          <span style="display: block;">
            Historia
          </span>
          <input  type="text" id="inp_Liga_Historia" name="Historia">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="Container">
          <span style="display: block;">
            Pais
          </span>
          <input  type="text" id="inp_Liga_Pais" name="Historia">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="Container">
          <span style="display: block;">
            Escudo (Url)
          </span>
          <input  type="text" id="inp_Liga_Escudo" name="Escudo">
        </div>
      </td>
    
    </tr>
  
  </table><div><button onclick="insertarLiga()">
    Agregar</button>
  </div>
</div>

<div class="new-Team" id="edit-Liga"></div>
<div class="new-Team" id="new-Team"><table>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Nombre
        </span>
        <input id="inp_Nombre" type="text" name="Nombre">
      </div>
    </td>
  </tr>
  <tr>
      <td>
        <div class="Container">
          <span style="display: block;">
            Abbreviation
          </span>
          <input id="inp_AB" type="text" name="Nombre">
        </div>
      </td>
    </tr>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Historia
        </span>
        <input id="inp_Historia" type="text" name="Historia">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Localidad
        </span>
        <input id="inp_Localidad"  type="text" name="Historia">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Escudo (Url)
        </span>
        <input id="inp_Escudo" type="text" name="Escudo">
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Color Principal
        </span>
        <input type='color' id="inp_ColorP"/>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="Container">
        <span style="display: block;">
          Color Secundario
        </span>
        <input type='color' id="inp_ColorS"/>
      </div>
    </td>
  </tr>

</table>
<div>
  <button onclick="insertarEquipo()">
  Agregar</button>
</div>
</div>
<div class="edit-Team" id="edit-Team">
  
</div>
<div class="new-Team" id="info-Team">
  <table>
</div>

  <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>

<script type="text/javascript">
const firebaseConfig = {
    apiKey: "AIzaSyAxZ4pVevrj9SRxp3EWlfYieKvA7V6ch68",
    authDomain: "superliga-179605.firebaseapp.com",
    databaseURL: "https://superliga-179605.firebaseio.com",
    projectId: "superliga-179605",
    storageBucket: "",
    messagingSenderId: "952837515941",
    appId: "1:952837515941:web:13eabd2f5950d32a"
    };

    firebase.initializeApp(firebaseConfig);

    
    var db = firebase.firestore();

    firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;
                    
                }
                else {
                    
            }
            });


    db.collection("Liga").get().then(function(querySnapshot) {


    var str = '<table style="width:30%;">';
    var str2 = '<table style="width:30%;">';
    var str3 = '<table style="width:30%;">';
    querySnapshot.forEach(function(doc) {
        // doc.data() is never undefined for query doc snapshots
        console.log(doc.id, " => ", doc.data().Nombre);
        var my_name = doc.data().Nombre;
        str += `<tr>
        <td>
        <div class="Liga" id="Liga" onclick="Liga('${doc.id}')">
        <span>
        ${my_name}
        </span>
        </div>
        </td>

        </tr>`
        str2 += `<tr>
        <td>
        <div class="Liga" id="Liga" onclick="Modificar__Liga('${doc.id}')">
        <span>
        ${my_name}
        </span>
        </div>
        </td>

        </tr>`
        str3 += `<tr>
        <td>
        <div class="Liga" id="Liga" onclick="Eliminar__Liga('${doc.id}')">
        <span>
        ${my_name}
        </span>
        </div>
        </td>

        </tr>`
        
    });
    str += '</table><div class="ABM"><button onclick="AgregarLiga()">Agregar</button><button style="margin-left:10px;"  onclick="Modificar_Liga()">Modificar</button><button style="margin-left:10px;" onclick="Eliminar_Liga()" >Eliminar</button></div>';
    str2 += '</table><div class="ABM"><button style="background-color:red;" onclick="Salir_Modificar()">Modificar</button></div>';
    str3 += '</table><div class="ABM"><button style="background-color:red;" onclick="Salir_Eliminar()">Eliminar</button></div>';
    console.log(str)
    document.getElementById("main-Ligas").innerHTML = str;
    document.getElementById("main-Ligas-mod").style.display ="none"
    document.getElementById("main-Ligas-mod").innerHTML = str2;
    document.getElementById("main-Ligas-elim").style.display ="none"
    document.getElementById("main-Ligas-elim").innerHTML = str3;
});

var LigaEnUso=""
LeerEquipos=(Liga)=>{
  var str = '<table> <tr>';
  LigaEnUso=Liga
  document.getElementById("main-Ligas").style.display = "none";
  
  db.collection('Liga').get().then(function(querySnapshot) {
    var c=0;
    
querySnapshot.forEach(function(doc) {

    if (doc.id == Liga){
      


      doc.ref.collection("Equipos").get().then(function(querySnapshot) {
        querySnapshot.forEach(function(eq) {
          str += `<td>
          <div  class="Team" id="Team" onclick="Team('${eq.id}')">
          <span style="background-color: ${eq.data().ColorP};" class="Team-abbreviation">
          ${eq.data().AB}
          </span>
          <span  class="Team-name">
          ${eq.data().Nombre}
          </span>
          </div>
          </td>`
          console.log(c)
          c+=1
          console.log(c)
          if (c==3){
          str +='</tr><tr>'
            console.log("1"+str)
          c=0;
        }
            // doc.data() is never undefined for query doc snapshots
            console.log(eq.id, " => ", eq.data().Nombre);
            var my_name = doc.data().Nombre;
        });
        str += '</tr> </table>  <div class="ABM"><button onclick="AgregarEquipo()" id="Agregar">Agregar</button></div> ';
console.log(str)
document.getElementById("main-Teams").innerHTML = str;
document.getElementById("main-Teams").style.display = "block";
document.getElementById("info-Team").style.display = "none";
        console.log(doc.id, " => ", doc.data().Nombre);
        var my_name = doc.data().Nombre;
        });

   
} 
});


});

}

var EquipoEnUso=""

LeerInfoEquipos=(Equipo)=>{
  EquipoEnUso=Equipo
    db.collection("Liga").get().then(function(querySnapshot) {
    var str = '<table>';
    querySnapshot.forEach(function(Liga) {
        if (Liga.id == LigaEnUso){
          Liga.ref.collection("Equipos").get().then(function(querySnapshot) {
            querySnapshot.forEach(function(Equi) {
              if(Equi.id== Equipo){
                str += `<tr>
                <td>
                <div class="Container">
                <span  style="display: block;">
                Nombre:
                </span>
                <input id="info_Nombre" name="prodId" type="hidden" value="${Equi.id}">
                <span   style="color: black">
                ${Equi.data().Nombre}
                </span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span  style="display: block;">
                Abbreviation:
                </span>
                <input id="info_AB" name="prodId" type="hidden" value="${Equi.data().AB}">
                <span   style="color: black">
                ${Equi.data().AB}
                </span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Historia:
                </span>
                <span style="color: black">
                ${Equi.data().Historia}
                </span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Localidad:
                </span>
                <span style="color: black">
                ${Equi.data().Localidad}
                </span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Color Principal:
                </span>
                <span style="color: ${Equi.data().ColorP}">
                ${Equi.data().ColorP}
                </span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Color Secundario:
                </span>
                <span style="color: ${Equi.data().ColorS}">
                ${Equi.data().ColorS}
                </span>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Estadio:
                </span>
                <span style="color: black">
                TD Garden
                </span>
                </div>
                </td>`


              }

            });
            str += '</tr></table><div><button onclick="Volver()">Volver</button><button onclick="ModificarEquipoAction()" style="margin-left:10px;" id="Modificar">Modificar</button><button style="margin-left:10px;" id="Eliminar" onclick="BorrarEquipo()">Eliminar</button>  </div>';
            console.log(str)
            document.getElementById("info-Team").innerHTML = str;
            document.getElementById("info-Team").style.display = "block";
            document.getElementById("main-Teams").style.display = "none";
            });
            
        }
        
        
    });
    
});
}


  insertarLiga=()=>{
    var inp_Nombre = document.getElementById("inp_Liga_Nombre").value;
    var inp_Pais = document.getElementById("inp_Liga_Pais").value;
    var inp_Historia = document.getElementById("inp_Liga_Historia").value;
    var inp_Escudo = document.getElementById("inp_Liga_Escudo").value;

  db.collection("Liga").add({
    Nombre: inp_Nombre,
    Historia :inp_Historia,
    Pais:inp_Pais,
    Escudo:inp_Escudo

})
.then(function(docRef) {
    console.log("Document written with ID: ", docRef.id);
    location.reload(true);
    
})
.catch(function(error) {
    console.error("Error adding document: ", error);
});
  

}

insertarEquipo=()=>{
    var inp_Nombre = document.getElementById("inp_Nombre").value;
    var inp_AB = document.getElementById("inp_AB").value;
    var inp_Historia = document.getElementById("inp_Historia").value;
    var inp_Localidad = document.getElementById("inp_Localidad").value;
    var inp_Escudo = document.getElementById("inp_Escudo").value;
    var inp_ColorP = document.getElementById("inp_ColorP").value;
    var inp_ColorS = document.getElementById("inp_ColorS").value;
    

    db.collection("Liga").get().then(function(querySnapshot) {
    var str = '<table>';
    querySnapshot.forEach(function(Liga) {
        if (Liga.id == LigaEnUso){
          Liga.ref.collection('Equipos').add({
          Nombre: inp_Nombre,
          AB:inp_AB,
          Historia :inp_Historia,
          Localidad:inp_Localidad,
          Escudo:inp_Escudo,
          ColorP:inp_ColorP,
          ColorS :inp_ColorS

          })
          .then(function(docRef) {
          console.log("Document written with ID: ", docRef.id);
          document.getElementById("new-Team").style.display = "none";
          LeerEquipos(LigaEnUso)
          })
          .catch(function(error) {
          console.error("Error adding document: ", error);
          });
        }
        
        
    });
    
});

}

ModificarModificarLiga=()=>{
  db.collection("Liga").get().then(function(querySnapshot) {
    
    querySnapshot.forEach(function(doc) {
      if (doc.id == LigaEnUso ){
        doc.ref.update({
                  Nombre: document.getElementById("mod_Liga_Nombre").value,
                  Historia: document.getElementById("mod_Liga_Historia").value,
                  Pais: document.getElementById("mod_Liga_Pais").value,
                  Escudo: document.getElementById("mod_Liga_Escudo").value
                  
          });
          
        
      }
      
  });

  });
}


ModificarLiga=(Liga)=>{
  LigaEnUso = Liga
  var str ="<table>"
  db.collection("Liga").get().then(function(querySnapshot) {
    
  querySnapshot.forEach(function(doc) {
    if (doc.id == Liga ){
      str += `<tr>
      <td>
      <div class="Container">
      <span style="display: block;">
      Nombre
      </span>
      <input type="text" value="${doc.data().Nombre}" id="mod_Liga_Nombre" name="Nombre">
      </div>
      </td>
      </tr>
      <tr>
      <td>
      <div class="Container">
      <span style="display: block;">
      Historia
      </span>
      <input  type="text"value="${doc.data().Historia}" id="mod_Liga_Historia" name="Historia">
      </div>
      </td>
      </tr>
      <tr>
      <td>
      <div class="Container">
      <span style="display: block;">
      Pais
      </span>
      <input  type="text"value="${doc.data().Pais}" id="mod_Liga_Pais" name="Pais">
      </div>
      </td>
      </tr>
      <tr>
      <td>
      <div class="Container">
      <span style="display: block;">
      Escudo (Url)
      </span>
      <input  type="text"value="${doc.data().Escudo}" id="mod_Liga_Escudo" name="Escudo">
      </div>
      </td>

      </tr>

      `
      
    }
    
});
str += '</table><div><button onclick="ModificarModificarLiga()">Modificar</button></div>';
      console.log(str)
      document.getElementById("edit-Liga").innerHTML = str;
      document.getElementById("edit-Liga").style.display = "block";
      document.getElementById("main-Ligas-mod").style.display = "none";
});


}

EliminarEquipo=(Equipo)=>{
  
  db.collection("Liga").get().then(function(querySnapshot) {
    querySnapshot.forEach(function(Liga) {
      if (Liga.id == LigaEnUso){
        Liga.ref.collection("Equipos").get().then(function(querySnapshot) {
          console.log("entré")
          
        querySnapshot.forEach(function(Equi) {
          console.log(Equi.data().Nombre + "==" +Equipo)
          if (Equi.id == Equipo){
            
            Equi.ref.delete()
            .then(function(docRef) {
              LeerEquipos(LigaEnUso)
            document.getElementById("info-Team").style.display = "none";
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
            
          }
        });
        
        });

      }
        
    });

});
  
}

EliminarLiga=(L)=>{

  db.collection("Liga").get().then(function(querySnapshot) {
    querySnapshot.forEach(function(Liga) {
      console.log(L)
      if (Liga.id == L){
        Liga.ref.delete()
        .then(function(docRef) {
          location.reload(true);
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
        
      }
      
    });

    });

}

ModificarEquipo=()=>{
    db.collection("Liga").get().then(function(querySnapshot) {
    var str = '<table>';
    querySnapshot.forEach(function(Liga) {
        if (Liga.id == LigaEnUso){
          Liga.ref.collection("Equipos").get().then(function(querySnapshot) {
            querySnapshot.forEach(function(Equi) {
              if(Equi.id == EquipoEnUso){
                str += `
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Nombre
                </span>
                <input type="text" id="mod_Nombre" name="Nombre" value="${Equi.data().Nombre}">
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Abbreviation
                </span>
                <input type="text" id="mod_AB" name="Nombre" value="${Equi.data().AB}">
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Historia
                </span>
                <input  type="text" id="mod_Historia" name="Historia" value="${Equi.data().Historia}">
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Localidad
                </span>
                <input  type="text" id="mod_Localidad" name="Localidad" value="${Equi.data().Localidad}">
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Escudo (Url)
                </span>
                <input  type="text" id="mod_Escudo" name="Escudo" value="${Equi.data().Escudo}">
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Color Principal
                </span>
                <input type='color' value="${Equi.data().ColorP}" id="mod_ColorP"/>
                </div>
                </td>
                </tr>
                <tr>
                <td>
                <div class="Container">
                <span style="display: block;">
                Color Secundario
                </span>
                <input type='color' value="${Equi.data().ColorS}" id="mod_ColorS"/>
                </div>
                </td>
                </tr>
                `


              }

            });
            str += '</tr></table><div><button onclick="ModificarModificarEquipo()">Modificar</button></div>';
            console.log(str)
            document.getElementById("edit-Team").innerHTML = str;
            document.getElementById("edit-Team").style.display = "block";
            document.getElementById("info-Team").style.display = "none";
            });
            
        }
        
        
    });
    
});
}

ModificarModificarEquipo=()=>{
  console.log(document.getElementById("mod_Nombre").value)
  console.log(document.getElementById("mod_Historia").value)
  console.log(document.getElementById("mod_Localidad").value)
  console.log(document.getElementById("mod_Escudo").value)
  console.log(document.getElementById("mod_ColorP").value)
  console.log(document.getElementById("mod_ColorS").value)
  console.log(document.getElementById("mod_Estadio").value)
  db.collection("Liga").get().then(function(querySnapshot) {
    querySnapshot.forEach(function(Liga) {
      console.log(LigaEnUso)
        if (Liga.id== LigaEnUso){
          Liga.ref.collection("Equipos").get().then(function(querySnapshot) {
            querySnapshot.forEach(function(Equi) {
              console.log(EquipoEnUso)
              if(Equi.id == EquipoEnUso){
                Equi.ref.update({
                  Nombre: document.getElementById("mod_Nombre").value,
                  AB: document.getElementById("mod_AB").value,
                  Historia: document.getElementById("mod_Historia").value,
                  Localidad: document.getElementById("mod_Localidad").value,
                  Escudo: document.getElementById("mod_Escudo").value,
                  ColorP: document.getElementById("mod_ColorP").value,
                  ColorS: document.getElementById("mod_ColorS").value,
                  Estadio: document.getElementById("mod_Estadio").value
                }).then(function(docRef) {
                  document.getElementById("edit-Team").style.display = "none";
            LeerInfoEquipos(Equi.id)
   
    })
                
              }
            
            });
            
            
            });
            
        }
        
        
    });
    
});
}

function ModificarEquipoAction(){
ModificarEquipo()
}

function BorrarEquipo(){
  EliminarEquipo(document.getElementById("info_Nombre").value)
}

function AgregarLiga(){
  document.getElementById("main-Ligas").style.display = "none";
  document.getElementById("new-Liga").style.display = "block";
}

  document.getElementById("Agregar").addEventListener ("click", Agregar, true);
  document.getElementById("Modificar").addEventListener ("click", Modificar, true);
  var x = document.getElementsByClassName("Liga");
  for (var i = 0; i < x.length; i++) {
    x[i].addEventListener ("click", Liga, true);
}


function Salir_Modificar (){
  document.getElementById("main-Ligas").style.display = "block";
  document.getElementById("main-Ligas-mod").style.display = "none";
}
function Modificar__Liga(Liga){
  ModificarLiga(Liga)
}
function Eliminar__Liga(Liga){
  EliminarLiga(Liga)
}
function Eliminar_Liga(){
  document.getElementById("main-Ligas").style.display = "none";
  document.getElementById("main-Ligas-elim").style.display = "block";
}

function Salir_Eliminar(){
  document.getElementById("main-Ligas-elim").style.display = "none";
  document.getElementById("main-Ligas").style.display = "block";
}

function Modificar_Liga(){
  document.getElementById("main-Ligas").style.display = "none";
  document.getElementById("main-Ligas-mod").style.display = "block";
}

function mod_Liga(){
  document.getElementById("main-Ligas").style.display = "none";
  document.getElementById("new-Liga").style.display = "block";
}

function AgregarEquipo(){
  document.getElementById("main-Teams").style.display = "none";
  document.getElementById("new-Team").style.display = "block";
}

function Modificar(){
  document.getElementById("main-Teams").style.display = "none";
  document.getElementById("edit-Team").style.display = "block";
}

function Liga(a){
  LeerEquipos(a)
  document.getElementById("main-Teams").style.display = "block";
  document.getElementById("main-Ligas").style.display = "none";
}

function elim(){
 var x = document.getElementsByClassName("Team");
for (var i = 0; i < x.length; i++) {
    x[i].addEventListener ("click", teamss, true);
} 
}

function teamss(){
  document.getElementById("main-Teams").style.display = "none";
}
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            document.getElementById("myUL").style.display = "none";
        } else {
            li[i].style.display = "none";
            document.getElementById("myUL").style.display = "block";
        }
    }
}

function select_stadium(x){
  x.style.backgroundColor  ="#1673e6";
  x.style.color  ="white";
}

function Team(a){
  LeerInfoEquipos(a)
  
}

function Volver(){
  LeerEquipos(LigaEnUso)
  document.getElementById("info-Team").style.display = "none";

}

function Estadios(){

}
</script>
</body>
</html>

