<!DOCTYPE html>
<html>
<head>
<style>
    body {
  font-family: Arial, Helvetica, sans-serif;
 background-image: url("https://cdn1.imggmi.com/uploads/2019/9/19/ba50a9a558f5be63bb9e8f1622378c45-full.png");

 background-size: 100% 500px;
 background-repeat: no-repeat;
}

.navbar {
padding-left: 31%;
background-image: transparent;
  overflow: hidden;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}



.navbar .right{
    float:right;
    padding-right: 45%;
}

.navbar .right #Out {
    display: none;
}

.navbar .Link {
  float: right;
  font-size: 16px;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;

}

.dropdown {
  float: left;
  overflow: hidden;
  

}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.navbar a:hover {
  background-color: white;
  color: #1673e6;
  border-radius: 10px;

}
 .dropdown:hover .dropbtn {
  background-color: white;
  color: #1673e6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: all;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px;
  border-bottom-right-radius:0px ;
  border-bottom-left-radius: 10px;
  padding-top: 6px;
  padding-bottom: 2.6px;

}

.dropdown-content a {
  float: none;
  color: #1673e6;
  padding: 11px 22.4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #e0e8ff;

}

.dropdown .dropdown-content #top {
  border-top-right-radius: 10px;

}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown-content .MLB {
    display: none;
}

.dropdown-content a:hover  table {
      display: block;
      color: grey;
}

.dropdown-content .MLB:hover {
      color: #1673e6;
}
.dropdown-content a table{
  margin-left: 55px;
  top:-7px;
  position: absolute;
  background-color: #f9f9f9;
  display: none;
  padding-top:10px; 
}

#second{
  margin-left:210px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}


.dropdown-content a table td{
  width: 10%;
}
.dropdown-content a table a{
color: grey;
}

.dropdown-content a table table{
  margin-left: 800px;
}


input[type=text] {
  width: 5px;
  height: 60px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-search-icon-by-vexels.png');
  background-position: 12px 16px; 
  background-repeat: no-repeat;
  background-size: 26px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-radius: 20px;
  border: none;
  width: 60%;
  padding-left: 55px;
  font-weight: bold;
  font-family:Trebuchet MS;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}

.search-container{
  position: absolute;
  margin-left:  31%;
  top :36%;
  vertical-align: middle;
  width: 50%;
}

input[type=text]:focus {
  transition: .4s;
  background-image: url('https://cdn1.imggmi.com/uploads/2019/9/17/fee81e2d5ab3213d647a91a5dd937185-full.png');
  outline: none
}

input[type=text]:focus,input[type=text]:hover  {
  transition: .4s;
  box-shadow: -9px 9px 49px 0px rgba(0,0,0,0.75);
}
.Location{

  background-image: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-location-128.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 44% -4px;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
  position: absolute;
  width: 99%;
  height: 34px;
  top:56%;
  overflow: auto;

}

.Location a{
  color: #696969;
  margin-left:45%;
}

  .slider-holder
        {
          position: absolute;
            width: 890px;
            height: 400px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            overflow: hidden;
            left: 27.5%;
            top:57%;



        }
       
        .image-holder
        {
            width: 1700px;
            background-color: white;
            height: 400px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;



        }
       .Concert
        {
            background-size: 200px 120px;
            background-position: 0 0;
            float: left;
            margin: 10px;
            padding: 0px;
            position: relative;
            border-radius: 10px;
            width: 200px;
            height: 120px;
        }

                .Concert a{
          text-decoration: none;
          color: red;
          float: left;
          margin-left: 8px;
          margin-top: 94px;
          font-weight: bold;
          color: white;     
          font-family:Trebuchet MS;
          -moz-user-select: none;
           -webkit-user-select: none;
            -ms-user-select:none; 
            user-select:none;
            -o-user-select:none;
             }
        .Concert:hover{
            transform: scale(1.1);
            transition: transform  0.4s;
        }
        .slider-image
        {
            float: left;
            margin: 10px;
            padding: 0px;
            position: relative;
            border-radius: 10px;
            width: 200px;
            height: 120px;
            transition: transform  0.4s;
        }
        .slider-image:hover{
            transform: scale(1.1);
            transition: transform  0.4s;
        }

       
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
       
        #slider-image-2:target ~ .image-holder
        {
            left: -880px;
        }
       
        #slider-image-3:target ~ .image-holder
        {
            left: -800px;
        }
       
        .button-holder
        {
            position: relative;
            
            top: -250px;
            left: -0.6%;
        }

        .button-holder button{
          width: 55px;
          height: 55px;
          border-radius:  100%;
          border-color: transparent;
          background-color: white;
          border: 1px solid #dbd9d9;


        }

        

        #button_1 {
          position: absolute;
          top:-110px;
          right:-5px;
          background-image: url("https://peoplepng.com/wp-content/uploads/2019/02/right-arrow-png-icon-2.png");
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: 50%;

        }

        #button_2 {
          position: absolute;
          top:-110px;
          left:5px;
          background-image: url("https://cdn1.imggmi.com/uploads/2019/9/23/e82eb54cc7016ee91a1dc83364f1edca-full.png");
          background-size: 32px;
          background-repeat: no-repeat;
          background-position: 50%;
         
        }

        #button_1:hover{
          background-image: url("https://cdn1.imggmi.com/uploads/2019/9/22/36f9108ff268aa1c190ce2563ed9d53d-full.png");
        }

        #button_2:hover{
          background-image: url("https://cdn1.imggmi.com/uploads/2019/9/23/2a2e68f0e7f34039aa7f77582f988b14-full.png");
        }
        #button_2{
          position: absolute;
          display: block;
        }

       
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: #bdbdbd;

        }

        .slider-change:hover {

          background-color: #1673e6;
          border-color: transparent;
        }


        .button-holder button img:hover{
         background:url("https://cdn1.imggmi.com/uploads/2019/9/22/36f9108ff268aa1c190ce2563ed9d53d-full.png"); 
        }

        
</style>
<link rel = "stylesheet"
   type = "text/css"
   href = "/home/farappa/Escritorio/SeatGeek-master/sgk.css" />
</head>
<body>

<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn" id="Sports">Sports 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
    <a href="#">MLB
        <table cellspacing="" style="width:200%">
            <tr>
                <td>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
 
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
 
                </td>
            </tr>
        </table>
        <table id="second" cellspacing="" style="width:200%">
            <tr>
                <td>
                    <a href="#">Red Sox</a>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
 
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
                    <a href="">Red Sox</a>
 
                </td>
            </tr>
        </table></a>
    <a href="#">NBA
        <table cellspacing="" style="width:200%">
            <tr>
                <td>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
 
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
 
                </td>
            </tr>
        </table>
        <table id="second" cellspacing="" style="width:200%">
            <tr>
                <td>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>

 
                </td>
            </tr>
            <tr>
                <td>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
                    <a href="">Boston Celtics</a>
 
                </td>
            </tr>
        </table></a>
    <a href="#">NHL</a>
    <a href="#">NFL</a> 
    </div>
  </div>
  
  <a href="#home">Home</a>
  <a href="#news">News</a>
   <div class="right">
        <a href="#home">Sign Up</a>
        <a id="In" href="#" onclick="googleSignIn()" >Log In</a>
        <a id="Out" onclick="googleSignout()">Log Out</a>
   </div>
</div>


<div class="search-container">
        <input type="text" autocomplete="off" name="search" placeholder="Search by team, artist, event, or venue">
  </div>
<div id="slider-holder" class="slider-holder">
        <span id="slider-image-1"></span>
        <span id="slider-image-2"></span>
        <span id="slider-image-3"></span>
        <div id="image-holder" class="image-holder">
            <div class="Concert" style="background-image: url(https://seatgeek.com/images/performers-landscape/generic-concerts-4104f8/677165/huge.jpg);">
            <a href="www.google.com">
            <a>Concerts</a>
            </a>
            </div>
            <div class="Concert" style="background-image: url(https://seatgeek.com/images/performers-landscape/generic-nfl-football-ea572f/677209/huge.jpg);" >
            <a>NFL</a>
            </div>
            <div class="Concert" style="background-image: url(https://seatgeek.com/images/performers-landscape/generic-mlb-baseball-65710f/677213/huge.jpg);">
            <a href="www.google.com">
            <a>MLB</a>
            </a>
            </div>
            <div class="Concert" style="background-image: url(https://seatgeek.com/images/performers-landscape/generic-nba-basketball-cbfe7e/677206/huge.jpg);" >
            <a>NBA</a>
            </div>
            <div class="Concert" style="background-image: url(https://seatgeek.com/images/performers-landscape/generic-nhl-hockey-084849/677199/huge.jpg);" >
            <a>NHL</a>
            </div>
            <div class="Concert" style="background-image: url(https://seatgeek.com/images/performers-landscape/generic-mls-soccer-8a9e12/677195/huge.jpg);" >
            <a>MLS</a>
            </div>
        </div>
        <div class="button-holder">
            <button id="button_1" onclick="slider_image_2()" class="slider-change" style="cursor: pointer"></button>
            <button id="button_2" onclick="slider_image_1()" class="slider-change" style="cursor: pointer"></button>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
    <script>
    var b2 = document.getElementById("button_2");
    var b1 = document.getElementById("button_1");
    b2.style.display ="none";
    var d = document.getElementById("image-holder");
    d.style.left = "0px";

function slider_image_1(){
    var d = document.getElementById("image-holder");
    d.style.left = "0px";
    b2.style.display ="none";
    b1.style.display ="block";
}


function slider_image_2(){
    var d = document.getElementById("image-holder");
    d.style.left = "-880px";
    b2.style.display ="block";
        b1.style.display ="none";
}
    
    function Dover(x) {
        var d = document.getElementById(x.id + 1);
        d.style.display = "block";
        x.style.backgroundColor = "#e0e8ff";
}
   


//---------------------------------------------------

    
    var B_out = document.getElementById("out");
    var B_in = document.getElementById("in");
    var B_Agregar = document.getElementById("Agregar");
    var B_Modificar = document.getElementById("Modificar");
    
    const firebaseConfig = {
    apiKey: "AIzaSyAxZ4pVevrj9SRxp3EWlfYieKvA7V6ch68",
    authDomain: "superliga-179605.firebaseapp.com",
    databaseURL: "https://superliga-179605.firebaseio.com",
    projectId: "superliga-179605",
    storageBucket: "",
    messagingSenderId: "952837515941",
    appId: "1:952837515941:web:13eabd2f5950d32a"
    };

    firebase.initializeApp(firebaseConfig);

    
    var db = firebase.firestore();
    googleSignIn=()=>{
        base_provider= new firebase.auth.GoogleAuthProvider()
        firebase.auth().signInWithPopup(base_provider).then(function(result){
        console.log("Success....Google Linked")
        document.getElementById("In").style.display = "none";
        document.getElementById("Out").style.display = "block";
        }).catch(function(err){
            console.log(err)
            console.log("Fail")
        })
        
    }
  
    googleSignout=()=>{
        firebase.auth().signOut().then(function() {
        console.log('Signed Out');
        document.getElementById("In").style.display = "block";
        document.getElementById("Out").style.display = "none";
        }, function(error) {
        console.error('Sign Out Error', error);
        });
            
        }

        firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;
                    
                }
                else {
                    
            }
            });
                // ...
          

insertarJug=()=>{
    var inp_Nombre = document.getElementById("inp_Nombre").value;
  
    db.collection("Jugadores").add({
    Nombre: inp_Nombre
})
.then(function(docRef) {
    console.log("Document written with ID: ", docRef.id);
})
.catch(function(error) {
    console.error("Error adding document: ", error);
});
Leer()
var elem = document.getElementById('form');
    elem.parentNode.removeChild(elem);
}

Modif_jug=()=>{

    var old_Nombre = document.getElementById("old_Nombre").value;
    var new_Nombre = document.getElementById("new_Nombre").value;

    db.collection("Jugadores").where("Nombre", "==", old_Nombre)
  .get()
  .then(function(querySnapshot) {
      querySnapshot.forEach(function(doc) {
          console.log(doc.id, " => ", doc.data());
          // Build doc ref from doc.id
          db.collection("Jugadores").doc(doc.id).update({Nombre: new_Nombre});
          Leer()
        var elem = document.getElementById('mod');
        elem.parentNode.removeChild(elem);
      });
 })

}


Modificar=(string)=>{
    var str = '<div id="mod">';
    str += '<input type="text" id="old_Nombre" name="inp_Nombre" placeholder="Nombre antiguo">'
    str += '<input type="text" id="new_Nombre" name="inp_Nombre" placeholder="Nombre nuevo">'
    str+='<input type="submit" value="Modificar" onclick="Modif_jug()">'
    str+='</div>';
    document.getElementById("formulario").innerHTML = str;
}

Eliminar=(string)=>{
    firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                var result = confirm("Want to delete?");
                if (result) {
                    db.collection("Jugadores").where("Nombre", "==", string)
    .get()
    .then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
            // doc.data() is never undefined for query doc snapshots
            doc.ref.delete();
            Leer()
        });
    })
    .catch(function(error) {
        console.log("Error getting documents: ", error);
    });
                }
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;
                    
                    
                }
                else {
                    
                    
            }
            });
    

    /*db.collection("cities").where("Nombre", "==", "CA").delete().then(function() {
    console.log("Document successfully deleted!");
}).catch(function(error) {
    console.error("Error removing document: ", error);
});*/
}

Leer=()=>{
    db.collection("Jugadores").get().then(function(querySnapshot) {
    var str = '';
    querySnapshot.forEach(function(doc) {
        // doc.data() is never undefined for query doc snapshots
        console.log(doc.id, " => ", doc.data().Nombre);
        var my_name = doc.data().Nombre;
        str += `<li style="color: #ddd" id="Jug" onclick="Eliminar('${my_name}')">${my_name}</li>`
        
    });
    console.log(str)
    document.getElementById("slideContainer").innerHTML = str;
});
}

        
db.collection("Jugadores").get().then(function(querySnapshot) {
    var str = '';
    querySnapshot.forEach(function(doc) {
        // doc.data() is never undefined for query doc snapshots
        console.log(doc.id, " => ", doc.data().Nombre);
        var my_name = doc.data().Nombre;
        str += `<li style="color: #ddd" id="Jug" onclick="Eliminar('${my_name}')">${my_name}</li>`
        
    });
    console.log(str)
    document.getElementById("slideContainer").innerHTML = str;
});    

Agregar=()=>{
    var str = '<div id="form">';
    str += '<input type="text" id="inp_Nombre" name="inp_Nombre" placeholder="Nombre">'
    str+='<input type="submit" value="Agregar" onclick="insertarJug()">'
    str+='</div>';
    document.getElementById("formulario").innerHTML = str;
}


    
    </script>
</body>
</html>

