<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
 background-image: url("https://i.pinimg.com/originals/72/96/0f/72960f5122fb1f3e24259821e060cb4a.jpg");
 background-size: 100% 290px;
 background-repeat: no-repeat;
 overflow-x: hidden;
}

.carac{
	margin-left: 13.5%;
}
.carac tr td div{
	background-image: url("https://images.emojiterra.com/twitter/v12/512px/1f90d.png");
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: 0px 0px;	
	padding-left: 30px;
	padding-right: 40px;
}
.path a , span{
	color: #b8b8b8;
	text-decoration:none;
}
.path a:hover{
	color:white;
}
table{
	color: white;
}
#tittle{
	margin-top: 9.5%;
	margin-left: 18%;
	transform: scale(1.3);
	width: 400px;
}
#path{
	color: #b8b8b8;
	text-decoration:none;
	position: absolute;
	top:23%;
	left: 14%;
}
.path{
	position: absolute;
	top:23%;
	left: 14%;
}


#topper{
	background-color: green;
	width: all;
	height: 300px;
	padding: 3000px;
	margin: 0px;
	position: absolute;
}

.navbar {
padding-left: 31%;
background-image: transparent;
  overflow: hidden;
    margin-right: 14%;

}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}



.navbar .right{
    float:right;
    padding-right: 45%;
}

.navbar .right #Out {
    display: none;
}

.navbar .Link {
  float: right;
  font-size: 16px;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;

}

.dropdown {
  float: right;
  overflow: hidden;
  

}


.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.navbar a:hover {
  background-color: white;
  color: #1673e6;
  border-radius: 10px;

}
 .dropdown:hover .dropbtn {
  background-color: white;
  color: #1673e6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.dropdown-content {
  float: right;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: all;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px;
  border-bottom-right-radius:0px ;
  border-bottom-left-radius: 10px;
  padding-top: 6px;
  padding-bottom: 2.6px;

}

.dropdown-content a {
  float: none;
  color: #1673e6;
  padding: 11px 22.4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #e0e8ff;

}

.dropdown .dropdown-content #top {
  border-top-right-radius: 10px;

}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown-content .MLB {
    display: none;
}

.dropdown-content a:hover  table {
      display: block;
      color: grey;
}

.dropdown-content .MLB:hover {
      color: #1673e6;
}
.dropdown-content a table{
  margin-left: 55px;
  top:-7px;
  position: absolute;
  background-color: #f9f9f9;
  display: none;
  padding-top:10px; 
}

#second{
  margin-left:210px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}


.dropdown-content a table td{
  width: 10%;
}
.dropdown-content a table a{
color: grey;
}

.dropdown-content a table table{
  margin-left: 800px;
}


input[type=text] {
  width: 5px;
  height: 50px;
  box-sizing: border-box;

  font-size: 17px;
  background-color: white;
  background-image: url('https://cdn1.imggmi.com/uploads/2019/9/23/a536f883220a8a8545780dd422c33849-full.png');
  background-position: 12px 12px; 
  background-repeat: no-repeat;
  background-size: 26px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border-radius: 10px;
  border: none;
  width: 60%;
  padding-left: 55px;

  font-family:Trebuchet MS;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}

.search-container{
  position: absolute;
  margin-left:  -10%;
  top :1%;
  vertical-align: middle;
  width: 600px;
  padding-right: -10px;
  transform: scale(.9);
}

input[type=text] {
  background-color: rgba(0,0,0,.5);

}

input[type=text]:focus {
  transition: .4s;
  outline: none;

}

input[type=text]:focus,input[type=text]:hover  {
   background-image: url('https://cdn1.imggmi.com/uploads/2019/9/17/fee81e2d5ab3213d647a91a5dd937185-full.png');
   background-color: white;
   opacity: 1;
  transition: .4s;
}

.UG select{

	border-radius: 5px;
	padding: 5px;
	background-color: white;
	border-color: #d6d6d6;
	cursor:pointer;
}

.UG select:hover{

	color: #1673e6;
	cursor:pointer;
}

.UG select option{
	padding: 10px;


}

.HA{
	position: absolute;
	top: 0%;
	left: 35%;
}

.HA button{
	padding: 5.5px;
	border-style: solid;
  	border-width: 1px;
  	border-color: #d6d6d6;
  	background-color: white;
  	cursor:pointer;
}
#Home{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}
#Away{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.HA button:focus{
	outline: none;
}
.HA button:hover{
	color: #1673e6;
	background-color: #e9eef5;
}
.Games{
	margin-top: 30px;
	border-color: red;

	width: 527px;
	border-radius: 10px;
	cursor:pointer;
}
.Games .left {
	height: 60px;
	width: 80px;
	border-color: blue;

	transform: scale(.8);
}
.Games .left p{
	margin-top:5px;
}

.Games .right{
	float: left;
	margin-left: 15%;
	margin-top: -81px;	
	border-color: green;

	transform: scale(.8);
	font-size: 18px;
}



.Games:hover{
	box-shadow: 5px 19px 40px 9px rgba(227,227,227,1);
	transition: 1s;
}
.Games .but{
	float: left;
	margin-top: -8.7%;
	margin-left: 50px;
}

.Games .but button{
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 7px;
	border-style: none;
	cursor:pointer;
	background-color: #1673e6;
	color: white;
}

.Games .but button:hover{
	background-color: #135eba;
}
.right-menu{
	float: right;
	margin-right: 1%;
  margin-top: -44px;
	padding: 10px;

  
}
.right-menu a{
  text-decoration:none;
 color: black;

}
.Events{
  border-radius: 10px;
  padding: 10px;
  
  background-color: #e9eef5;
  color: #1673e6;
  text-decoration:none;
}
.Events a {
   color: #1673e6;
}
.Parking{
  border-radius: 10px;
  padding: 10px;

}
.Playoff{
  border-radius: 10px;
  padding: 10px;
  padding-right: 100px;

}
.right-menu a:hover{
  color: #1673e6;

}

</style>
<link rel = "stylesheet"
   type = "text/css"
   href = "C:\Users\tobia\Desktop\SeatGeek-master\team.css" />
</head>
<body>

<div class="navbar">

        <a id="In"  onclick="googleSignIn()" >Log In</a>
        <a style="display: none;" id="Out" onclick="googleSignout()">Log Out</a>
        <!--<a id="Out" onclick="googleSignout()">Log Out</a>-->


<div class="dropdown">
    <button class="dropbtn" id="Sports">Sports 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="dropdown-content">
    
</div></div></div>


<div id="path" class="path"><a href="/home/farappa/Escritorio/SeatGeek-master/asdasd.html">Home</a><span> / </span><a href="/home/farappa/Escritorio/SeatGeek-master/league.html">NBA</a>
</div>
<div id="tittle">
        <h1 id="tittle" style="color: white">Boston Celtics Tickets</h1>
</div>

<div>
    <table class="carac">
    <tr>
        <td><div>Millions of Customers Served</div></td>
        <td><div style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/1200px-White_check.svg.png);">100% Guaranteed</div></td>
        <td><div style="background-image: url(https://cdn1.imggmi.com/uploads/2019/10/8/24aed404fb3ee1d20a37b41879fba404-full.png);">Low Fees & Transparent Prices</div></td>
    </tr>
</table>
</div>

<div id="UG" class="UG" style="margin-top: 6%;margin-left: 21.5%;transform: scale(1.2);" ><b style="padding-right: 15%" >Upcoming Games</b>

</div>




<div class="story">
    <span></span>
</div>
<input type="hidden" id="equipo" value="<%= equipo %>">
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
<script>
console.log("==>"+document.getElementById("equipo").value+"<==")
const firebaseConfig = {
    apiKey: "AIzaSyAxZ4pVevrj9SRxp3EWlfYieKvA7V6ch68",
    authDomain: "superliga-179605.firebaseapp.com",
    databaseURL: "https://superliga-179605.firebaseio.com",
    projectId: "superliga-179605",
    storageBucket: "",
    messagingSenderId: "952837515941",
    appId: "1:952837515941:web:13eabd2f5950d32a"
    };

    firebase.initializeApp(firebaseConfig);

    
    var db = firebase.firestore();

    firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                // User is signed in.
                var displayName = user.displayName;
                var email = user.email;
                var emailVerified = user.emailVerified;
                var photoURL = user.photoURL;
                var isAnonymous = user.isAnonymous;
                var uid = user.uid;
                var providerData = user.providerData;
                    
                }
                else {
                    
            }
            });





/*

var str=``;

    db.collection("Liga").get().then(function(querySnapshot) {


    querySnapshot.forEach(function(Liga) {
    str+=`<form id="Post_Liga" method="POST" action="/Liga"> 
    <a onclick="Liga()" >${Liga.data().Nombre}</a>
    <input type="hidden" id="id_Liga value="${Liga.id}">
  </form>`
  
    })

    })
    .then(function(docRef) {
      document.getElementById("dropdown-content").innerHTML=str
   
    })
    .catch(function(error) {
    console.error("Error adding document: ", error);
    });



var path=``;
var tittle=``;
var Game=``;
    db.collection("Liga").get().then(function(querySnapshot) {
        querySnapshot.forEach(function(Liga) {


            Liga.ref.get().then(function(querySnapshot) {
        querySnapshot.forEach(function(Equi) {
            if(Equi.data().Nombre == "Boston Celtics"){
                path+=`<a href="/home/farappa/Escritorio/SeatGeek-master/asdasd.html">Home</a><span>
                     / </span><a href="/home/farappa/Escritorio/SeatGeek-master/league.html">"${Liga.data().Nombre}"</a>`
                tittle+=`<h1 id="tittle" style="color: white">${Equi.data().Nombre} Tickets</h1>`;

                db.collection("Evento").get().then(function(querySnapshot) {
                    querySnapshot.forEach(function(Evento) {
                        if(Evento.data().Local == Equi.id){
                            str+=`<div class="Games" onmouseover="OnhoverGames(this)" onmouseout="OuthoverGames(this)">
                            <div  class="left"><p><b id="date">${Evento.data().Fecha}</b></p><p>${Evento.data().Hora}</p></div> 
                            <div class="right"><p><b id="game">  ${Equi.data().Nombre}s vs ${Evento.data().Visitante}</b></p><p style="color: grey;">Away-Td Garden-Boston</p> </div>   
                            <div class="but"><button>Comprar</button></div>
                            </div>`
                        }
                

                })

                })
                .then(function(docRef) {
                    document.getElementById("path").innerHTML=path
                    document.getElementById("tittle").innerHTML=tittle
                    document.getElementById("UG").innerHTML=Game
                

                })
                .catch(function(error) {
                console.error("Error adding document: ", error);
                });
                

            }
            

        })

    })
        .then(function(docRef) {
            document.getElementById("dropdown-content").innerHTML=str

    })
        .catch(function(error) {
            console.error("Error adding document: ", error);
    });

        })

    })
        .then(function(docRef) {
            document.getElementById("dropdown-content").innerHTML=str

    })
        .catch(function(error) {
            console.error("Error adding document: ", error);
    });


    
*/




var navS=``;
var path=``;
var tittle=``;
var Game=``;
var str = '<b style="padding-right: 15%" >Upcoming Games</b>';

db.collection("Liga").get().then(function(querySnapshot) {
    
  querySnapshot.forEach(function(Liga) {
    navS+=`<form id="Post_Liga_${Liga.id}" method="POST" action="/Liga"> 
    <a onclick="Liga('${Liga.id}')" >${Liga.data().Nombre}</a>
    <input type="hidden" id="id_Liga" name="id_Liga" value="${Liga.id}">
  </form>`
    console.log(Liga.data().Nombre)
    Liga.ref.collection("Equipos").get().then(function(querySnapshot) {
        querySnapshot.forEach(function(Equipo) {
            console.log(Equipo.data().Nombre)
            if(Equipo.id == document.getElementById("equipo").value){
                console.log("==>",Equipo.data().Nombre,"<==");
                db.collection("Evento").get().then(function(querySnapshot) {
                    path+=`<a href="/home/farappa/Escritorio/SeatGeek-master/asdasd.html">Home</a><span>
                     / </span><a href="/home/farappa/Escritorio/SeatGeek-master/league.html">"${Liga.data().Nombre}"</a>`
                tittle+=`<h1 id="tittle" style="color: white">${Equipo.data().Nombre} Tickets</h1>`;
                    
                querySnapshot.forEach(function(Evento) {
                    if (Evento.data().Local == Equipo.id){
                        str+=`<form id="Post_${Evento.id}" method="POST" action="/tickets">
                        <div onclick="Evento('${Evento.id}')" class="Games" onmouseover="OnhoverGames(this)" onmouseout="OuthoverGames(this)">
                            <div  class="left"><p><b id="date">${Evento.data().Fecha}</b></p><p>${Evento.data().Hora}</p></div> 
                            <div class="right"><p><b id="game">  ${Equipo.data().Nombre}s vs ${Evento.data().Visitante}</b></p><p style="color: grey;">Away-Td Garden-Boston</p> </div>   
                            <div class="but"></div>
                            </div>
                        <input type="hidden" id="id_Evento" name="id_Evento" value="${Evento.id}">
                        </form>`
                    }



                })

                })
                .then(function(docRef) {
                    document.getElementById("UG").innerHTML=str
                    document.getElementById("dropdown-content").innerHTML=navS
                    document.getElementById("path").innerHTML=path
                    document.getElementById("tittle").innerHTML=tittle

                })
                .catch(function(error) {
                console.error("Error adding document: ", error);
                });

            }




        })

    })
        .then(function(docRef) {


        })
        .catch(function(error) {
            console.error("Error adding document: ", error);
        });
  
  
      
  })
  
  })
  .then(function(docRef) {
    
              
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });

          function Evento(a){
  document.getElementById(`Post_${a}`).submit();
}


function Liga(a){
  document.getElementById(`Post_Liga_${a}`).submit();
}
//-------------------------------------
    var H = document.getElementById("Home");
    var A = document.getElementById("Away");

    var E = document.getElementById("Events");
    var P = document.getElementById("Parking");
    var Pl = document.getElementById("Playoff");

    function Home(a){
        H.style.color = "#1673e6";
        A.style.color = "black";

    }
    function Away(a){
        H.style.color = "black";
        A.style.color = "#1673e6";
    }
    var game = document.getElementById("game");
    var date = document.getElementById("date");
    function OnhoverGames(a){
        game.style.color="#1673e6";
        date.style.color="#1673e6"
    }
    function OuthoverGames(a){
        game.style.color="black";
        date.style.color="black"
    }
    function Events(a){
        E.style.background.color="#1673e6";
        P.style.background.color="none";
        Pl.style.background.color="none";
        P.style.color="black";
        Pl.style.color="black";
    }
    function Parking(a){
        P.style.background.color="#1673e6";
        E.style.background.color="none";
        Pl.style.background.color="none";
        E.style.color="black";
        Pl.style.color="black";
    }
    function Playoff(a){
        Pl.style.background.color="#1673e6";
        E.style.background.color="none";
        P.style.background.color="none";
        E.style.color="black";
        P.style.color="black";
    }


    googleSignIn=()=>{
        base_provider= new firebase.auth.GoogleAuthProvider()
        firebase.auth().signInWithPopup(base_provider)
        .then(function(result){
          document.getElementById(`In`).style.display="none"
          document.getElementById(`Out`).style.display="block"
        console.log("Success....Google Linked")
        }).catch(function(err){
            console.log(err)
            console.log("Fail")
        })
        
    }


    googleSignout=()=>{
        firebase.auth().signOut().then(function() {
          document.getElementById(`In`).style.display="block"
          document.getElementById(`Out`).style.display="none"
        console.log('Signed Out');
        }, function(error) {
        console.error('Sign Out Error', error);
        });
            
        }
  
</script>
</body>
</html>

