<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  font-family: "Lato", sans-serif;
  max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.navbar{
  position: relative;
  background-color: #1673e6;
  width: all;
  height: 60px;
  padding: 0px;
  margin: -12px;

}
.navbar span{
  color: white;
  margin-left: 200px;
  padding-top: 15px;
  font-size: 15px;
}
.navbar input{
  padding:10px;
  border-radius: 10px;
  border-style: none;
  display: block;
  margin-top: -18px;
  float: right;
  margin-right: 150px;
  background-color: #1160c2;
}
.navbar input:focus{
  background-color: white;
}
.navbar button{
  float: right;
  margin-right: -300px;
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  margin-top: -19px;
  background-color: #1160c2;
  color: white;
  cursor: pointer;
  font-size: 17px;
}
.navbar button:hover{
  background-color: white;
  color: #1160c2;
}
.sidenav {
  margin-top: 50px;
  height: 100%;
  width: 33%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  overflow-y: scroll;
  box-shadow: -15px 4px 92px -28px rgba(0,0,0,0.75);
  transition: 1s;
  margin-left: 0px;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #1673e6;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.tickets{
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
  border-width: thin;
  height:60px;
  margin-left: 17px;
  padding: 10px;
  transition: 1s;
  cursor: pointer;
}
.tickets span{
  margin-top: 12px;
}
.tickets button{
  background-color: #1673e6;
  border-style: none;
  padding: 10px;
  float: right;
  color:white;
  border-radius: 10px;
  margin-top: -19px;
  margin-right: 10px;
  font-weight:bold;
  font-size: 15px;
  cursor:pointer;


}
.tickets button:hover{
  background-color:#1762bf;
}

.tickets:hover{

  background-color: #EEF5FF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stadium{
  margin-right: -70px;
  margin-top: -75px;
  float: right;
  transform: scale(0.7);
}
.ticketss{
  transition: 1s;
}
.header{
  width: all;
  height: 60px;
}
.header button{
  margin-left: 10px;
  padding: 10px;
  padding-left: 15px;
   padding-right: 15px;
   cursor: pointer;
   background-color: transparent;
   border-style: none;
   background-image: url("http://pixsector.com/cache/a8009c95/av8a49a4f81c3318dc69d.png");
   background-size: 30px;
   background-repeat: no-repeat;
   background-position: 0px 4px;
    -moz-user-select: none;
     -webkit-user-select: none;
      -ms-user-select:none;
       user-select:none;
       -o-user-select:none;

}
.header button span{
  margin-left: 50%;
  font-weight: bolder;
  font-size: 18px;
}
.header button:hover span{
  color: #1673e6;

}

.body img{
  width: 400px;
  height: 260px;
  margin-left: 5%;
  border-radius: 10px;
}


.tickets-info{
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
  border-width: thin;
  margin-left: 17px;
  padding: 10px;
  transition: 1s;

}
.tickets-info span{
  margin-top: 12px;
}
.tickets-info button{
  background-color: #1673e6;
  border-style: none;
  padding: 15px;
  float: right;
  color:white;
  border-radius: 10px;
  margin-top: -28px;
  margin-right: 10px;
  font-weight:bold;
  font-size: 15px;
  cursor:pointer;


}
.tickets-info button:hover{
  background-color:#1762bf;
}
#Back:active .sidenav{
  margin-left: -500px;
}
</style>
<head>

<link rel = "stylesheet"
   type = "text/css"
   href = "C:\Users\tobia\Desktop\SeatGeek-master\tickets.css" />
   <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<div class="navbar">
    <div id="game">

    </div>
    <button onclick="googleSignIn()">Log In</button>
    <button style="display: none;" id="Out" onclick="googleSignout()">Log Out</button>
	</div>
<div class="sidenav" id="sidenav" style="display: block;">
	<div class="ticketss" id="ticketss">
	
  
</div>
</div>
<div class="sidenav" id="sidenav1" style="display: none;">
    <div class="info" id="info">
    <div class="header" id="header" >
        <button id="Back"><span>Back</span> </button>
    </div>
    <div id="info" class="body">
        <img src="https://seatgeek.com/images/seatview/6c04eddd-8605-4706-baed-032d4e54b84f/flat/800x600.jpg">
        <div class="tickets-info">
            
        </div>
        <div class="tickets-info">

            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5,4 L5,20 C5,21.1045695 5.8954305,22 7,22 L9,22 L9,22 C9,20.8954305 9.8954305,20 11,20 L13,20 C14.1045695,20 15,20.8954305 15,22 L17,22 C18.1045695,22 19,21.1045695 19,20 L19,4 C19,2.8954305 18.1045695,2 17,2 L15,2 L15,2 C15,3.1045695 14.1045695,4 13,4 L11,4 C9.8954305,4 9,3.1045695 9,2 L7,2 C5.8954305,2 5,2.8954305 5,4 Z"></path><path d="M10,10 L14,10"></path><path d="M10,14 L14,14"></path></g></svg> 3 tickets available</span>
        </div>
        <div class="tickets-info">
            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><path d="M19,10.5492123 L19,19 C19,20.1045695 18.1045695,21 17,21 L7,21 C5.8954305,21 5,20.1045695 5,19 L5,10.5492123 C4.67423585,10.5975958 4.33522035,10.5838051 4,10.5 C3.8613194,10.4653298 3.72805546,10.4117836 3.60394124,10.3408612 C2.85506663,9.91293282 2.59488827,8.95894553 3.02281662,8.21007091 L5.42415879,4.00772212 C5.7802445,3.38457213 6.44293138,3 7.16064507,3 L16.8393549,3 C17.5570686,3 18.2197555,3.38457213 18.5758412,4.00772212 L20.9771834,8.21007091 C21.4051117,8.95894553 21.1449334,9.91293282 20.3960588,10.3408612 C20.2719445,10.4117836 20.1386806,10.4653298 20,10.5 C19.6647797,10.5838051 19.3257642,10.5975958 19,10.5492123 Z M17.5,9.76295946 C17.4636856,9.72415269 17.4284773,9.68410475 17.3944452,9.64284783 C17.1267256,10.4320596 16.3796876,11 15.5,11 C14.7469933,11 14.0911822,10.5838562 13.75,9.96900179 C13.4088178,10.5838562 12.7530067,11 12,11 C11.2469933,11 10.5911822,10.5838562 10.25,9.96900179 C9.90881777,10.5838562 9.25300668,11 8.5,11 C7.6203124,11 6.87327437,10.4320596 6.60555484,9.64284783 C6.57152269,9.68410475 6.53631442,9.72415269 6.5,9.76295946 L6.5,15.5 L17.5,15.5 L17.5,9.76295946 Z" fill="#3A567B" fill-rule="nonzero"></path></svg> SeatGeek</span>
        </div>
        <div class="tickets-info">
            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><path d="M15.5,3 L15.5,2 L16.5,2 L16.5,3 L18.0059397,3 C19.1072288,3 20,3.88905519 20,4.99997165 L20,7.25 L20,19.0073611 C20,20.3840076 18.8749111,21.5 17.5,21.5 L6.5,21.5 C5.11928813,21.5 4,20.3862859 4,19.0073611 L4,7.25 L4,4.99997165 C4,3.89541781 4.89451376,3 5.99406028,3 L7.5,3 L7.5,2 L8.5,2 L8.5,3 L11.5,3 L11.5,2 L12.5,2 L12.5,3 L15.5,3 Z M5.5,7.5 L5.5,18.9210447 C5.5,19.517247 5.94572572,20 6.5,20 L17.5,20 C18.0500114,20 18.5,19.5131026 18.5,18.9210447 L18.5,7.5 L5.5,7.5 Z M8,12.5 L8,11 L16,11 L16,12.5 L8,12.5 Z M8,16.5 L8,15 L16,15 L16,16.5 L8,16.5 Z" fill="#3A567B"></path></svg></path></svg> Boletos de entrada móvil. Debe tener un dispositivo inteligente a mano para ingresar al evento.</span>
        </div>
    </div>
</div>
</div>
<script>
	document.getElementById ("tickets").addEventListener ("click", myfunction, true);
	function myfunction(x) {
  	document.getElementById("sidenav").style.marginLeft = "-700px";
  	document.getElementById("sidenav1").style.transition = "1s";
  	document.getElementById("sidenav1").style.marginLeft = "0px";

}
document.getElementById ("Back").addEventListener ("click", myfunction1, true);
	function myfunction1(x) {
  	document.getElementById("sidenav").style.display = "block";
  	document.getElementById("sidenav1").style.display = "none";
  	

}
</script>

<div id="stadium" class="stadium">
	
</div>
<div id="Post">

</div>



<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-firestore.js"></script>
<input type="hidden" id="evento" value="<%= evento %>">


<script>


const firebaseConfig = {
    apiKey: "AIzaSyAxZ4pVevrj9SRxp3EWlfYieKvA7V6ch68",
    authDomain: "superliga-179605.firebaseapp.com",
    databaseURL: "https://superliga-179605.firebaseio.com",
    projectId: "superliga-179605",
    storageBucket: "",
    messagingSenderId: "952837515941",
    appId: "1:952837515941:web:13eabd2f5950d32a"
    };

    firebase.initializeApp(firebaseConfig);

    
    var db = firebase.firestore();

    


var EventoEnUso ="";

var str=``;
var game=``;
var eve=``;
db.collection("Liga").get().then(function(querySnapshot) {

    querySnapshot.forEach(function(Liga) {
      console.log(Liga.data().Nombre)
      Liga.ref.collection("Equipos").get().then(function(querySnapshot) {
          querySnapshot.forEach(function(Equipo) {
              console.log(Equipo.data().Nombre)
              if(Equipo.data().Nombre == "Boston Celtics"){
                  
                  db.collection("Evento").get().then(function(querySnapshot) {                      
                  querySnapshot.forEach(function(Evento) {
                      if (Evento.id == document.getElementById("evento").value){
                        EventoEnUso = Evento;
                        eve+=`<form id="Post_Evento" method="POST" action="/compra">
                          <input type="hidden" id="id_Evento" name="id_Evento" value="${Evento.id}">
                          </form>`
                        
                        game+=`<span style="display: block;"> ${Evento.data().Visitante} at ${Equipo.data().Nombre}</span>
                        <span style="color: #e6e6e6">${Evento.data().Estadio} — ${Evento.data().Fecha} ${Evento.data().Hora}</span>`
                        console.log(game)
                        Evento.ref.collection("Tickets").get().then(function(querySnapshot) {                      
                  querySnapshot.forEach(function(Ticket) {
                    if (Ticket.data().Disponibilidad > 0){
                      str+=` <div id="Ticket_${Ticket.id}" onclick="infoTicket('${Evento.id}','${Ticket.id}')" class="tickets" id="tickets" >
                        <span style="display: block;">${Ticket.data().Nombre}</span>
                        <span style="color: grey;font-size:12px;">${Ticket.data().Disponibilidad} Disponibles</span>
                        <button onclick="Comprar('${Ticket.id}')">$${Ticket.data().Precio}/ARG</button>
                        </div>`
                    }
                     
                        
                      
  
  
  
                  })
  
                  })
                  .then(function(docRef) {
                      document.getElementById("ticketss").innerHTML=str
                      document.getElementById("Post").innerHTML=eve
                      document.getElementById("game").innerHTML=game
                      Estt()
                      OB()
  
                  })
                  .catch(function(error) {
                  console.error("Error adding document: ", error);
                  });
                      }
  
  
  
                  })
  
                  })
                  .then(function(docRef) {
        
  
                  })
                  .catch(function(error) {
                  console.error("Error adding document: ", error);
                  });
  
              }
  
  
  
  
          })
  
      })
          .then(function(docRef) {
  
  
          })
          .catch(function(error) {
              console.error("Error adding document: ", error);
          });
    
    
        
    })
    
    })
    .then(function(docRef) {
      
                
            })
            .catch(function(error) {
                console.error("Error adding document: ", error);
            });
  



infoTicket=(e,t)=> {

var str=``;

  db.collection("Evento").get().then(function(querySnapshot) {                      
                  querySnapshot.forEach(function(Evento) {
                      if (Evento.id == e){
                        console.log(e)
                        Evento.ref.collection("Tickets").get().then(function(querySnapshot) {                      
                  querySnapshot.forEach(function(Ticket) {
                    if(Ticket.id == t){
                      console.log(t)
                      str+=`<div class="header" id="header" >
        <button onclick="myfunction1()" id="Back"><span>Back</span> </button>
    </div>
                      <div id="info" class="body">
        <img src="${Ticket.data().Foto}">
        <div class="tickets-info">
            <span style="display: block;color: green;font-size:25px;font-weight: bolder;">$${Ticket.data().Precio}/ARG</span>
            <span style="color: grey;font-size:12px;">Más $6 de vendedor y tarifas de envío</span>
            <button  onclick="Comprar('${Ticket.id}')">Comprar</button>
        </div>
        <div class="tickets-info">

            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5,4 L5,20 C5,21.1045695 5.8954305,22 7,22 L9,22 L9,22 C9,20.8954305 9.8954305,20 11,20 L13,20 C14.1045695,20 15,20.8954305 15,22 L17,22 C18.1045695,22 19,21.1045695 19,20 L19,4 C19,2.8954305 18.1045695,2 17,2 L15,2 L15,2 C15,3.1045695 14.1045695,4 13,4 L11,4 C9.8954305,4 9,3.1045695 9,2 L7,2 C5.8954305,2 5,2.8954305 5,4 Z"></path><path d="M10,10 L14,10"></path><path d="M10,14 L14,14"></path></g></svg>${Ticket.data().Disponibilidad} Tickets disponibles</span>
        </div>
        <div class="tickets-info">
            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><path d="M19,10.5492123 L19,19 C19,20.1045695 18.1045695,21 17,21 L7,21 C5.8954305,21 5,20.1045695 5,19 L5,10.5492123 C4.67423585,10.5975958 4.33522035,10.5838051 4,10.5 C3.8613194,10.4653298 3.72805546,10.4117836 3.60394124,10.3408612 C2.85506663,9.91293282 2.59488827,8.95894553 3.02281662,8.21007091 L5.42415879,4.00772212 C5.7802445,3.38457213 6.44293138,3 7.16064507,3 L16.8393549,3 C17.5570686,3 18.2197555,3.38457213 18.5758412,4.00772212 L20.9771834,8.21007091 C21.4051117,8.95894553 21.1449334,9.91293282 20.3960588,10.3408612 C20.2719445,10.4117836 20.1386806,10.4653298 20,10.5 C19.6647797,10.5838051 19.3257642,10.5975958 19,10.5492123 Z M17.5,9.76295946 C17.4636856,9.72415269 17.4284773,9.68410475 17.3944452,9.64284783 C17.1267256,10.4320596 16.3796876,11 15.5,11 C14.7469933,11 14.0911822,10.5838562 13.75,9.96900179 C13.4088178,10.5838562 12.7530067,11 12,11 C11.2469933,11 10.5911822,10.5838562 10.25,9.96900179 C9.90881777,10.5838562 9.25300668,11 8.5,11 C7.6203124,11 6.87327437,10.4320596 6.60555484,9.64284783 C6.57152269,9.68410475 6.53631442,9.72415269 6.5,9.76295946 L6.5,15.5 L17.5,15.5 L17.5,9.76295946 Z" fill="#3A567B" fill-rule="nonzero"></path></svg> SeatGeek</span>
        </div>
        <div class="tickets-info">
            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><path d="M15.5,3 L15.5,2 L16.5,2 L16.5,3 L18.0059397,3 C19.1072288,3 20,3.88905519 20,4.99997165 L20,7.25 L20,19.0073611 C20,20.3840076 18.8749111,21.5 17.5,21.5 L6.5,21.5 C5.11928813,21.5 4,20.3862859 4,19.0073611 L4,7.25 L4,4.99997165 C4,3.89541781 4.89451376,3 5.99406028,3 L7.5,3 L7.5,2 L8.5,2 L8.5,3 L11.5,3 L11.5,2 L12.5,2 L12.5,3 L15.5,3 Z M5.5,7.5 L5.5,18.9210447 C5.5,19.517247 5.94572572,20 6.5,20 L17.5,20 C18.0500114,20 18.5,19.5131026 18.5,18.9210447 L18.5,7.5 L5.5,7.5 Z M8,12.5 L8,11 L16,11 L16,12.5 L8,12.5 Z M8,16.5 L8,15 L16,15 L16,16.5 L8,16.5 Z" fill="#3A567B"></path></svg></path></svg> Boletos de entrada móvil. Debe tener un dispositivo inteligente a mano para ingresar al evento.</span>
        </div>
    </div>`



                    }

  
                  })
  
                  })
                  .then(function(docRef) {
                    document.getElementById("info").innerHTML=str;
                    document.getElementById("sidenav1").style.display = "block";
                    document.getElementById("sidenav").style.display = "none";
                    

  
                  })
                  .catch(function(error) {
                  console.error("Error adding document: ", error);
                  });
                      }
  
  
  
                  })
  
                  })
                  .then(function(docRef) {
                      
  
                  })
                  .catch(function(error) {
                  console.error("Error adding document: ", error);
                  });


}



OB=()=>{

EventoEnUso.ref.collection("Tickets").get().then(function(querySnapshot) {

querySnapshot.forEach(function(Ticket) {
  EventoEnUso.ref.collection("Tickets").where("Nombre", "==", Ticket.data().Nombre).onSnapshot(function(snapshot) {
      snapshot.docChanges().forEach(function(change) {
          if (change.type === "added") {
              console.log("New city: ", change.doc.data()); 
          }
          if (change.type === "modified") {
            if(document.getElementById("sidenav").style.display == "block"){
              var u = `
                        <span style="display: block;">${change.doc.data().Nombre}</span>
                        <span style="color: grey;font-size:12px;">${change.doc.data().Disponibilidad} Disponibles</span>
                        <button onclick="Comprar('${change.doc.id}')">$${change.doc.data().Precio}/ARG</button>
                        `
              console.log(change.doc.id)
              document.getElementById(`Ticket_${change.doc.id}`).innerHTML = u;
              console.log("Modified city: ", change.doc.data());
            }
            if (document.getElementById("sidenav1").style.display=="block"){
              TicketEnUso=change.doc
             var  str1 = `<div class="header" id="header" >
        <button onclick="myfunction1()" id="Back"><span>Back</span> </button>
    </div>
                      <div id="info" class="body">
        <img src="${change.doc.data().Foto}">
        <div class="tickets-info">
            <span style="display: block;color: green;font-size:25px;font-weight: bolder;">$${change.doc.data().Precio}/ARG</span>
            <span style="color: grey;font-size:12px;">Más $6 de vendedor y tarifas de envío</span>
            <button>Revisar</button>
        </div>
        <div class="tickets-info">

            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5,4 L5,20 C5,21.1045695 5.8954305,22 7,22 L9,22 L9,22 C9,20.8954305 9.8954305,20 11,20 L13,20 C14.1045695,20 15,20.8954305 15,22 L17,22 C18.1045695,22 19,21.1045695 19,20 L19,4 C19,2.8954305 18.1045695,2 17,2 L15,2 L15,2 C15,3.1045695 14.1045695,4 13,4 L11,4 C9.8954305,4 9,3.1045695 9,2 L7,2 C5.8954305,2 5,2.8954305 5,4 Z"></path><path d="M10,10 L14,10"></path><path d="M10,14 L14,14"></path></g></svg>${change.doc.data().Disponibilidad} Tickets disponibles</span>
        </div>
        <div class="tickets-info">
            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><path d="M19,10.5492123 L19,19 C19,20.1045695 18.1045695,21 17,21 L7,21 C5.8954305,21 5,20.1045695 5,19 L5,10.5492123 C4.67423585,10.5975958 4.33522035,10.5838051 4,10.5 C3.8613194,10.4653298 3.72805546,10.4117836 3.60394124,10.3408612 C2.85506663,9.91293282 2.59488827,8.95894553 3.02281662,8.21007091 L5.42415879,4.00772212 C5.7802445,3.38457213 6.44293138,3 7.16064507,3 L16.8393549,3 C17.5570686,3 18.2197555,3.38457213 18.5758412,4.00772212 L20.9771834,8.21007091 C21.4051117,8.95894553 21.1449334,9.91293282 20.3960588,10.3408612 C20.2719445,10.4117836 20.1386806,10.4653298 20,10.5 C19.6647797,10.5838051 19.3257642,10.5975958 19,10.5492123 Z M17.5,9.76295946 C17.4636856,9.72415269 17.4284773,9.68410475 17.3944452,9.64284783 C17.1267256,10.4320596 16.3796876,11 15.5,11 C14.7469933,11 14.0911822,10.5838562 13.75,9.96900179 C13.4088178,10.5838562 12.7530067,11 12,11 C11.2469933,11 10.5911822,10.5838562 10.25,9.96900179 C9.90881777,10.5838562 9.25300668,11 8.5,11 C7.6203124,11 6.87327437,10.4320596 6.60555484,9.64284783 C6.57152269,9.68410475 6.53631442,9.72415269 6.5,9.76295946 L6.5,15.5 L17.5,15.5 L17.5,9.76295946 Z" fill="#3A567B" fill-rule="nonzero"></path></svg> SeatGeek</span>
        </div>
        <div class="tickets-info">
            <span style="display: block;height:20px;padding: 0px;margin-top: 2px;"> <svg fill="#1673E6" stroke="none" height="1em" width="1em" viewBox="0 0 24 24" class="Icon__Svg-sc-1p4cho-0 iBtpwK"><path d="M15.5,3 L15.5,2 L16.5,2 L16.5,3 L18.0059397,3 C19.1072288,3 20,3.88905519 20,4.99997165 L20,7.25 L20,19.0073611 C20,20.3840076 18.8749111,21.5 17.5,21.5 L6.5,21.5 C5.11928813,21.5 4,20.3862859 4,19.0073611 L4,7.25 L4,4.99997165 C4,3.89541781 4.89451376,3 5.99406028,3 L7.5,3 L7.5,2 L8.5,2 L8.5,3 L11.5,3 L11.5,2 L12.5,2 L12.5,3 L15.5,3 Z M5.5,7.5 L5.5,18.9210447 C5.5,19.517247 5.94572572,20 6.5,20 L17.5,20 C18.0500114,20 18.5,19.5131026 18.5,18.9210447 L18.5,7.5 L5.5,7.5 Z M8,12.5 L8,11 L16,11 L16,12.5 L8,12.5 Z M8,16.5 L8,15 L16,15 L16,16.5 L8,16.5 Z" fill="#3A567B"></path></svg></path></svg> Boletos de entrada móvil. Debe tener un dispositivo inteligente a mano para ingresar al evento.</span>
        </div>
    </div>`
              document.getElementById("sidenav1").innerHTML = str1;

            }
            
          }
          if (change.type === "removed") {
              console.log("Removed city: ", change.doc.data());
          }
      });
  });
  // doc.data() is never undefined for query doc snapshots
  
});
});



  
}



Estt=()=>{
  var name=``;
  var std=``;
db.collection("Estadio").get().then(function(querySnapshot) {
                          
                          
                          querySnapshot.forEach(function(est) {
                            console.log(est.id,"==",EventoEnUso.data().Estadio)
                              if (est.id == "v3i7XM38W8gmRCaIDcIr"){
                                console.log("holaIF")
                                std+=`${est.data().svg}`
                                name = est.data().Nombre
                                console.log(std)

                              }
                              
                          
                              
                          })
                          
                          })
                          .then(function(docRef) {
                            document.getElementById("stadium").innerHTML = std;

                                     
                                  })
                          .catch(function(error) {
                                      console.error("Error adding document: ", error);
                                  });
}
Comprar=(a)=>{
  firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
              document.getElementById("Post_Evento").innerHTML+=`<input type="hidden" id="id_Ticket" name="id_Ticket" value="${a}">`
              document.getElementById(`Post_Evento`).submit();
                    
                }
                else {
                  base_provider= new firebase.auth.GoogleAuthProvider()
        firebase.auth().signInWithPopup(base_provider)
        .then(function(result){
        console.log("Success....Google Linked")
        }).catch(function(err){
            console.log(err)
            console.log("Fail")
        })
                    
            }
            });


}

googleSignIn=()=>{
        base_provider= new firebase.auth.GoogleAuthProvider()
        firebase.auth().signInWithPopup(base_provider)
        .then(function(result){
          document.getElementById(`In`).style.display="none"
          document.getElementById(`Out`).style.display="block"
        console.log("Success....Google Linked")
        }).catch(function(err){
            console.log(err)
            console.log("Fail")
        })
        
    }


    googleSignout=()=>{
        firebase.auth().signOut().then(function() {
          document.getElementById(`In`).style.display="block"
          document.getElementById(`Out`).style.display="none"
        console.log('Signed Out');
        }, function(error) {
        console.error('Sign Out Error', error);
        });
            
        }
  
</script>
</body>
</html>